.conteudo-config-perfil {
    width: 60vw;
    padding: 10px;
    position: relative;
}

.cabecalho-editar {
    display: flex;
    padding: 20px;
    background: linear-gradient(to right, var(--verde), var(--azul));
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.area-img-perfil-edit:hover .img-config-perfil {
    filter: brightness(70%);
}

.area-img-perfil-edit:hover .container-pen-edit {
    opacity: 1;
}

.area-img-perfil-edit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-pen-edit {
    opacity: 0;
    transition: all .25s;
}

.container-pen-edit:hover .img-config-perfil {
    filter: brightness(70%);
    transition: filter 0.25s;
}

.area-img-perfil-edit:hover .container-pen-edit {
    opacity: 1;
}

.img-config-perfil {
    width: 130px;
    height: 130px;
    object-fit: contain;
    border-radius: 50%;
}

.img-config-perfil:hover {
    filter: brightness(70%);
    transition: filter 0.25s;
}

.sessao-config {
    background-color: #EEEEEE;
    padding: 53px;
    gap: 5vh;
    display: flex;
    flex-direction: column;
}

.componente-content-input-config-cep {
    width: 14vw;
    height: 1.5vw;
} 

.componente-content-input-config-cidade {
    width: 30vw;
     height: 1.5vw;
}

.componente-content-input-config-bairro {
    width: 24vw; 
    height: 1.5vw;
}

.componente-content-input-config-rua {
    width: 20vw;
    height: 1.5vw;
}

.componente-content-input-config-residencia {
    width: 8vw;
    height: 1.5vw;
}

.componente-content-input-config-complemento {
    width: 20vw;
    height: 1.5vw;
}

.header-edit-info-pessoais {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
        padding: .5vw 2vw .5vw 2vw;
        font-size: 1vw;
        color: white;
        border: none;
        background-color: var(--verde);
        border-radius: 20vw;
        transition: all .25s;
    }

    button:hover {
        background-color: var(--azul);
    }
}

.edit-infoPessoais {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
}

.edit-infoPessoais h3 {
    font-size: 1.1rem;
    color: gray;
}

.edit-infoPessoais .input-pessoais {
    display: flex;
    gap: 2vw;
    margin: 10px;
}

.edit-infoPessoais .input-pessoais .input-nome-num p {
    font-weight: bold;
}

.edit-infoPessoais .input-pessoais .input-nome-num input {
    padding: 6.5px;
    border-radius: 5px;
    width: 15vw;
}

.edit-infoPessoais .input-pessoais .input-email-local p {
    font-weight: bold;
}

.edit-infoPessoais .input-pessoais .input-email-local input {
    padding: 6.5px;
    border-radius: 5px;
    width: 15vw;
}


.edit-seguranca {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    gap: 1vw;
    display: flex;
    flex-direction: column;
}

.edit-seguranca p {
    color: gray;
    font-weight: bold;
}

.edit-seguranca .alt-senha {
    display: flex;
    gap: 1vw;
    align-items: center;
}

.edit-seguranca .alt-senha input {
    padding: 6.5px;
    border-radius: 5px;
    width: 15vw;
    height: 1vw;
}

.edit-seguranca .sair-excluirBtn {
    display: flex;
    gap: 2vw;
}

.edit-seguranca .sair-excluirBtn #sair {
    width: 10vw;
    height: 3vw;
    color: gray;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    transition: .5s;
    font-weight: bold;
}

.edit-seguranca .sair-excluirBtn #sair:hover {
    background-color: gray;
    border: 1px solid white;
    color: white;
}

.edit-seguranca .sair-excluirBtn #excluir {
    width: 10vw;
    height: 3vw;
    color: red;
    background-color: white;
    border: 1px solid red;
    border-radius: 5px;
    transition: .5s;
    font-weight: bold;
}

.edit-seguranca .sair-excluirBtn #excluir:hover{
    background-color: red;
    border: 1px solid white;
    color: white;

}

/*editar endereço*/
.edit-info-endereco-principal {
    background-color: white;
    border-radius: 15px;
    padding: 40px;
}

.leftPostar-de-config {
    margin-left: 0;

    background-color: white;
    border-radius: 15px;
}

/*salvar alterações*/

.centralizador-modal-salvar-alteracoes {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: calc(50px/10);
    width: 100%;
}

.modal-salvar-alteracoes {
    display: flex;
    border-radius: 15px;
    width: 27vw;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-color: #00000090;
    flex-direction: column;

    p {
        color: white;
    }

    .botoes-modal-salvar-alteracoes {
        display: flex;
        gap: 1vw;

        .btn-confirmar-alteracoes {
            border: none;
            background-color: var(--verde);
            padding: .5vw 1vw .5vw 1vw;
            border-radius: 50px;
            color: white;
        }

        .btn-cancelar-alteracoes {
            border: none;
            background-color: red;
            padding: .5vw 1vw .5vw 1vw;
            border-radius: 50px;
            color: white;
        }

    }
}



/* Responsividade */

/* Tablets em modo paisagem e dispositivos híbridos */
@media (max-width: 1025px) {

    .conteudo-config-perfil {
        width: 70vw;
    }

    .img-config-perfil {
        width: 11vw;
        height: 11vw;
    }

    .sessao-config {
        align-items: center;
    }

    .edit-infoPessoais {
        width: 57vw;
        padding: 10px;
    }

    .header-edit-info-pessoais h2 {
        font-size: 3vw;
    }

    .edit-infoPessoais h3 {
        font-size: 2.5vw;
    }

    .header-edit-info-pessoais button {
        font-size: 2.3vw;
        width: 18vw;
        height: 5vw;
        margin-right: 10vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .edit-infoPessoais .input-pessoais .input-nome-num p {
        font-size: 2.3vw;
    }

    .edit-infoPessoais .input-pessoais .input-nome-num span {
        font-size: 2.3vw;
    }

    .edit-infoPessoais .input-pessoais .input-email-local p {
        font-size: 2.3vw;
    }

    .edit-infoPessoais .input-pessoais .input-email-local span {
        font-size: 2.3vw;
    }

    .edit-infoPessoais .input-pessoais .input-nome-num input {
        font-size: 2.3vw;
        width: 24vw;
    }

    .edit-infoPessoais .input-pessoais .input-email-local input {
        font-size: 2.3vw;
        width: 24vw;
    }

    .edit-info-endereco-principal {
        width: 57vw;
        padding: 10px;
    }

    .edit-info-endereco-principal .leftPostar.leftPostar-de-config h2 {
        font-size: 3vw;
    }

    .leftPostar.leftPostar-de-config .container .componente-content-input {
        width: 20vw;
    }

    .componente-content-input-config-cep {
        width: 18vw;
        height: 4vw;
        font-size: 2.3vw;
    }

    .componente-content-input-config-cidade {
        width: 29vw;
        height: 4vw;
        font-size: 2.3vw;
    }

    .componente-content-input-config-bairro {
        width: 24vw;
        height: 4vw;
        font-size: 2.3vw;
    }

    .componente-content-input-config-rua {
        width: 25vw;
        height: 4vw;
        font-size: 2.3vw;
    }

    .componente-content-input-config-residencia {
        width: 16vw;
        height: 4vw;
        font-size: 2.3vw;
    }

    .componente-content-input-config-complemento {
        width: 20vw;
        height: 4vw;
        font-size: 2.3vw;
    }

    .componente-content-input-config-complemento {
        width: 22vw;
        height: 4vw;
        font-size: 2.3vw;
    }

    .edit-seguranca {
        width: 57vw;
        padding: 10px;
    }

    .edit-seguranca h2 {
        font-size: 3vw;
    }

    .edit-seguranca p {
        font-size: 2.3vw;
    }

    .edit-seguranca .alt-senha input {
        width: 24vw;
        height: 4vw;
        padding: 0px;
        font-size: 2.7vw;
    }

    .edit-seguranca .sair-excluirBtn #sair {
        font-size: 2.3vw;
        width: 18vw;
        height: 4vw;
    }

    .edit-seguranca .sair-excluirBtn #excluir {
        font-size: 2.3vw;
        width: 18vw;
        height: 4vw;
    }
}

/* Tablets em modo retrato e smartphones grandes */
@media (max-width: 768px) {

    .conteudo-config-perfil {
        width: 75vw;
    }

    .img-config-perfil {
        width: 14vw;
        height: 14vw;
    }

    .sessao-config {
        align-items: center;
    }

    .edit-infoPessoais {
        width: 60vw;
        padding: 15px;
    }

    .header-edit-info-pessoais h2 {
        font-size: 3.5vw;
    }

    .edit-infoPessoais h3 {
        font-size: 3vw;
    }

    .header-edit-info-pessoais button {
        font-size: 2.7vw;
        width: 17vw;
        height: 5vw;
        margin-right: 9vw;
    }

    .edit-infoPessoais .input-pessoais .input-nome-num p {
        font-size: 2.7vw;
    }

    .edit-infoPessoais .input-pessoais .input-nome-num span {
        font-size: 2.7vw;
    }

    .edit-infoPessoais .input-pessoais .input-email-local p {
        font-size: 2.7vw;
    }

    .edit-infoPessoais .input-pessoais .input-email-local span {
        font-size: 2.7vw;
    }

    .edit-infoPessoais .input-pessoais .input-nome-num input {
        font-size: 2.7vw;
        width: 20vw;
    }

    .edit-infoPessoais .input-pessoais .input-email-local input {
        font-size: 2.7vw;
        width: 20vw;
    }

    .edit-info-endereco-principal {
        width: 60vw;
        padding: 10px;
    }

    .edit-info-endereco-principal .leftPostar.leftPostar-de-config h2 {
        font-size: 3.5vw;
    }

    .leftPostar.leftPostar-de-config .container .componente-content-input {
        width: 20vw;
    }

    .componente-content-input-config-cep {
        width: 20vw;
        height: 3vw;
        font-size: 2.7vw;
    }

    .componente-content-input-config-cidade {
        width: 33vw;
        height: 3vw;
        font-size: 2.7vw;
    }

    .componente-content-input-config-bairro {
        width: 25vw;
        height: 3vw;
        font-size: 2.7vw;
    }

    .componente-content-input-config-rua {
        width: 24vw;
        height: 3vw;
        font-size: 2.7vw;
    }

    .componente-content-input-config-residencia {
        width: 14vw;
        height: 3vw;
        font-size: 2.7vw;
    }

    .componente-content-input-config-complemento {
        width: 22vw;
        height: 3vw;
        font-size: 2.7vw;
    }

    .componente-content-input-config-complemento {
        width: 23vw;
        height: 3vw;
        font-size: 2.7vw;
    }

    .edit-seguranca {
        width: 60vw;
        padding: 15px;
    }

    .edit-seguranca h2 {
        font-size: 3.5vw;
    }

    .edit-seguranca p {
        font-size: 2.7vw;
    }

    .edit-seguranca .alt-senha input {
        width: 20vw;
        height: 3vw;
        padding: 0px;
        font-size: 2.7vw;
    }

    .edit-seguranca .sair-excluirBtn #sair {
        font-size: 2.7vw;
        width: 17vw;
        height: 4vw;
    }

    .edit-seguranca .sair-excluirBtn #excluir {
        font-size: 2.7vw;
        width: 17vw;
        height: 4vw;
    }
}

/* Smartphones médios e tablets pequenos */
@media (max-width: 600px) {

    .conteudo-config-perfil {
        width: 75vw;
    }

    .img-config-perfil {
        width: 14vw;
        height: 14vw;
    }

    .sessao-config {
        align-items: center;
    }

    .edit-infoPessoais {
        width: 60vw;
        padding: 15px;
    }

    .header-edit-info-pessoais h2 {
        font-size: 4vw;
    }

    .edit-infoPessoais h3 {
        font-size: 3.5vw;
    }

    .header-edit-info-pessoais button {
        font-size: 3vw;
        width: 22vw;
        height: 5.25vw;
        margin-right: 6vw;
    }

    .edit-infoPessoais .input-pessoais .input-nome-num p {
        font-size: 3vw;
    }

    .edit-infoPessoais .input-pessoais .input-nome-num span {
        font-size: 3vw;
    }

    .edit-infoPessoais .input-pessoais .input-email-local p {
        font-size: 3vw;
    }

    .edit-infoPessoais .input-pessoais .input-email-local span {
        font-size: 3vw;
    }

    .edit-infoPessoais .input-pessoais .input-nome-num input {
        height: 2vw;
        font-size: 3vw;
        width: 23vw;
    }

    .edit-infoPessoais .input-pessoais .input-email-local input {
        height: 2vw;
        font-size: 3vw;
        width: 23vw;
    }

    .edit-info-endereco-principal {
        width: 60vw;
        padding: 10px;
    }

    .edit-info-endereco-principal .leftPostar.leftPostar-de-config h2 {
        font-size: 4vw;
    }

    .leftPostar.leftPostar-de-config .container .componente-content-input {
        width: 20vw;
    }

    .componente-content-input-config-cep {
        width: 20vw;
        height: 3vw;
        font-size: 3vw;
    }

    .componente-content-input-config-cidade {
        width: 33vw;
        height: 3vw;
        font-size: 3vw;
    }

    .componente-content-input-config-bairro {
        width: 27vw;
        height: 3vw;
        font-size: 3vw;
    }

    .componente-content-input-config-rua {
        width: 25vw;
        height: 3vw;
        font-size: 3vw;
    }

    .componente-content-input-config-residencia {
        width: 10vw;
        height: 3vw;
        font-size: 3vw;
    }

    .componente-content-input-config-complemento {
        width: 20vw;
        height: 2.5vw;
        font-size: 3vw;
    }

    .edit-seguranca {
        width: 60vw;
        padding: 15px;
    }

    .edit-seguranca h2 {
        font-size: 4vw;
    }

    .edit-seguranca p {
        font-size: 3vw;
    }

    .edit-seguranca .alt-senha input {
        width: 20vw;
        height: 3vw;
        padding: 0px;
    }

    .edit-seguranca .sair-excluirBtn #sair {
        font-size: 3vw;
        width: 20vw;
        height: 5vw;
    }

    .edit-seguranca .sair-excluirBtn #excluir {
        font-size: 3vw;
        width: 20vw;
        height: 5vw;
    }
}

/* Smartphones pequenos */
@media (max-width: 480px) {

    .sessao-config {
        padding: 30px;
    }

    .conteudo-config-perfil {
        width: 75vw;
    }

    .img-config-perfil {
        width: 17vw;
        height: 17vw;
    }

    .sessao-config {
        align-items: center;
    }

    .edit-infoPessoais {
        width: 60vw;
        padding: 15px;
    }

    .header-edit-info-pessoais h2 {
        font-size: 4vw;
    }

    .edit-infoPessoais h3 {
        font-size: 3.5vw;
    }

    .header-edit-info-pessoais button {
        font-size: 3.3vw;
        width: 25vw;
        height: 5vw;
    }

    .edit-infoPessoais .input-pessoais .input-nome-num p {
        font-size: 3.3vw;
    }

    .edit-infoPessoais .input-pessoais .input-nome-num span {
        font-size: 3.3vw;
    }

    .edit-infoPessoais .input-pessoais .input-email-local p {
        font-size: 3.3vw;
    }

    .edit-infoPessoais .input-pessoais .input-email-local span {
        font-size: 3.3vw;
    }

    .edit-infoPessoais .input-pessoais .input-nome-num input {
        height: 2vw;

    }

    .edit-infoPessoais .input-pessoais .input-email-local input {
        height: 2vw;
    }

    .edit-info-endereco-principal {
        width: 60vw;
        padding: 15px;
    }

    .edit-info-endereco-principal .leftPostar.leftPostar-de-config h2 {
        font-size: 4vw;
    }

    .leftPostar.leftPostar-de-config .container .componente-content-input {
        width: 20vw;
    }

    .componente-content-input-config-cep {
        width: 20vw;
        height: 3vw;
        font-size: 3.3vw;
    }

    .componente-content-input-config-cidade {
        width: 33vw;
        height: 3vw;
        font-size: 3.3vw;
    }

    .componente-content-input-config-bairro {
        width: 27vw;
        height: 3vw;
        font-size: 3.3vw;
    }

    .componente-content-input-config-rua {
        width: 25vw;
        height: 3vw;
        font-size: 3.3vw;
    }

    .componente-content-input-config-residencia {
        width: 10vw;
        height: 3vw;
        font-size: 3.3vw;
    }

    .componente-content-input-config-complemento {
        width: 20vw;
        height: 3vw;
        font-size: 3.3vw;
    }

    .edit-seguranca {
        width: 60vw;
        padding: 15px;
    }

    .edit-seguranca h2 {
        font-size: 4vw;
    }

    .edit-seguranca p {
        font-size: 3.3vw;
    }

    .edit-seguranca .alt-senha input {
        width: 30vw;
        height: 4vw;
        padding: 0px;
    }

    .edit-seguranca .sair-excluirBtn #sair {
        font-size: 3.3vw;
        width: 25vw;
        height: 5vw;
    }

    .edit-seguranca .sair-excluirBtn #excluir {
        font-size: 3.3vw;
        width: 25vw;
        height: 5vw;
    }
}

/* Smartphones muito pequenos */
@media (max-width: 320px) {
    
}