.btn-logout {
    width: fit-content;
    margin: 0, 1vw , 0, 1vw;
    height: 3vw;
    background-color: rgb(218, 18, 18);
}

.conteudo-config-perfil {
    width: 500px;
    height: 500px;
    background-color: aqua;
}

