.conteudo-config-perfil {
    width: 60vw;
    padding: 10px;
    position: relative;
}

.cabecalho-editar {
    display: flex;
    padding: 20px;
    background: linear-gradient(to right, var(--verde), var(--azul));
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.area-img-perfil-edit:hover .img-config-perfil {
    filter: brightness(70%);
}

.area-img-perfil-edit:hover .container-pen-edit {
    opacity: 1;
}

.area-img-perfil-edit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-pen-edit {
    opacity: 0;
    transition: all .25s;
}

.container-pen-edit:hover .img-config-perfil {
    filter: brightness(70%);
    transition: filter 0.25s;
}

.area-img-perfil-edit:hover .container-pen-edit {
    opacity: 1;
}

.img-config-perfil {
    width: 5vw;
    height: 5vw;
}

.img-config-perfil:hover {
    filter: brightness(70%);
    transition: filter 0.25s;
}

.sessao-config {
    background-color: #EEEEEE;
    padding: 53px;
    gap: 5vh;
    display: flex;
    flex-direction: column;
}

.header-edit-info-pessoais {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
        padding: .5vw 2vw .5vw 2vw;
        font-size: 1vw;
        color: white;
        border: none;
        background-color: var(--verde);
        border-radius: 20vw;
        transition: all .25s;
    }

    button:hover {
        background-color: var(--azul);
    }
}

.edit-infoPessoais {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
}

.edit-infoPessoais h3 {
    font-size: 1.1rem;
    color: gray;
}

.edit-infoPessoais .input-pessoais {
    display: flex;
    gap: 2vw;
    margin: 10px;
}

.edit-infoPessoais .input-pessoais .input-nome-num p {
    font-weight: bold;
}

.edit-infoPessoais .input-pessoais .input-nome-num input {
    padding: 6.5px;
    border-radius: 5px;
    width: 15vw;
}

.edit-infoPessoais .input-pessoais .input-email-local p {
    font-weight: bold;
}

.edit-infoPessoais .input-pessoais .input-email-local input {
    padding: 6.5px;
    border-radius: 5px;
    width: 15vw;
}


.edit-seguranca {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    gap: 1vw;
    display: flex;
    flex-direction: column;
}

.edit-seguranca p {
    color: gray;
    font-weight: bold;
}

.edit-seguranca .alt-senha {
    display: flex;
    gap: 1vw;
    align-items: center;
}

.edit-seguranca .alt-senha input {
    padding: 6.5px;
    border-radius: 5px;
    width: 15vw;
    height: 1vw;
}

.edit-seguranca .sair-excluirBtn {
    display: flex;
    gap: 2vw;
}

.edit-seguranca .sair-excluirBtn #sair {
    width: 10vw;
    height: 3vw;
    color: gray;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
}

.edit-seguranca .sair-excluirBtn #excluir {
    width: 10vw;
    height: 3vw;
    color: red;
    background-color: white;
    border: 1px solid red;
    border-radius: 5px;
}

/*editar endereço*/
.edit-info-endereco-principal {
    background-color: white;
    border-radius: 15px;
    padding: 40px;
}

.leftPostar-de-config {
    margin-left: 0;

    background-color: white;
    border-radius: 15px;
}

/*salvar alterações*/

.centralizador-modal-salvar-alteracoes {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: calc(50px/10);
    width: 100%;
}

.modal-salvar-alteracoes {
    display: flex;
    border-radius: 15px;
    width: 27vw;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-color: #00000090;
    flex-direction: column;

    p {
        color: white;
    }

    .botoes-modal-salvar-alteracoes {
        display: flex;
        gap: 1vw;

        .btn-confirmar-alteracoes {
            border: none;
            background-color: var(--verde);
            padding: .5vw 1vw .5vw 1vw;
            border-radius: 50px;
            color: white;
        }

        .btn-cancelar-alteracoes {
            border: none;
            background-color: red;
            padding: .5vw 1vw .5vw 1vw;
            border-radius: 50px;
            color: white;
        }

    }
}

@media screen and (max-width: 500px) {

    .cabecalho-editar {
        width: 40px;
        height: 40px;
    }


}