.animation2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 10vw 0;
}


.poster {
  display: flex;
  justify-content: flex-start;
}

.inner-img-ani1 {
  position: absolute;
  z-index: -1;
  height: 40vw;
  width: 30vw;
}

.inner-img-ani2 {
  padding: 5vw 0 0 3vw;
  width: 30vw;
  height: 20vw;
}

.conteudo-animation2 {
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4vw;
  width: 40vw;
  height: 30vw;
  /*   padding-right: 10vw; */
}

.conteudo-animation2 p {
  font-size: 1.5vw;
}

.conteudo-animation2 h2 {
  font-size: 2vw;
}

.encontrar-pro {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5vw;
  width: auto;
  height: auto;
  border-radius: 0.8vw;
  background: linear-gradient(to right, var(--verde), var(--azul));
  color: #ffffff;
  font-size: 1vw;
}

.hidden1:nth-child(1) .inner-img-ani1 {
  opacity: 0;
  transform: translateX(-80%);
  transition: all 2s;
}

.hidden1 h2 {
  opacity: 0;
  transform: translateY(-100%);
  transition: all 2s;
}

.show1 h2 {
  opacity: 1;
  transform: translateY(0%);
  transition: all 2s;
  transition-delay: 700ms;
}

.hidden1 span {
  background: linear-gradient(to right, var(--verde), var(--azul));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: underline;
}

.hidden1 p {
  opacity: 0;
  transform: translateX(100%);
  transition: all 2s;
}

.show1 p {
  opacity: 1;
  transform: translateX(0%);
  transition-delay: 1000ms;
  text-align: justify;
}

.hidden1 a {
  opacity: 0;
  transform: translateY(100%);
  transition: all 2s;
}

.show1 a {
  opacity: 1;
  transform: translateY(0%);
  transition-delay: 1100ms;
}

/* hiden dos triangulos*/

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.hidden2 {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.show1 {
  opacity: 1;
  transform: translateX(0);
}

/* Desktops de tela maior */
@media (max-width: 1600px) {
  .conteudo-animation2 {
    margin: 3vw;
  }

  .hidden2.show1 {
    width: 38vw;
    height: 36vw;
  }

  .hidden1.show1 {
    width: 30vw;
    margin-right: 3vw;
    margin-left: 1vw;
    display: flex;
    justify-content: center;
  }

  .hidden1.show1 h2 {
    font-size: 2.5vw;
  }

  .hidden1.show1 p {
    font-size: 1.4vw;
  }

  .hidden1.show1 a {
    width: 18vw;
    font-size: 1.4vw;
  }
}

/* Laptops e desktops de tela menor */
@media (max-width: 1200px) {
  .conteudo-animation2 {
    margin: 3vw;
    margin-right: 5vw;
  }

  .hidden2.show1 {
    width: 38vw;
    height: 36vw;
  }

  .hidden1.show1 {
    width: 30vw;
    margin-right: 3vw;
    margin-left: 1vw;
  }

  .hidden1.show1 h2 {
    font-size: 4vw;
  }

  .hidden1.show1 p {
    font-size: 2.8vw;
  }

  .hidden1.show1 a {
    width: 30vw;
    font-size: 2.5vw;
  }
}

/* Tablets em modo paisagem e dispositivos híbridos */
@media (max-width: 1024px) {
  .animation2 {
    margin: 12vw 0;
  }
  
  .conteudo-animation2 {
    margin: 3vw;
    margin-right: 5vw;
  }

  .hidden2.show1 {
    width: 28vw;
    height: 34vw;
  }

  .hidden1.show1 {
    width: 30vw;
    margin-right: 3vw;
    margin-left: 1vw;
  }

  .hidden1.show1 h2 {
    font-size: 2.7vw;
  }

  .hidden1.show1 p {
    font-size: 1.8vw;
  }

  .hidden1.show1 a {
    width: 22vw;
    font-size: 1.65vw;
  }
}

/* Tablets em modo retrato e smartphones grandes */
@media (max-width: 768px) {
  .conteudo-animation2 {
    margin: 3vw;
    margin-right: 5vw;
  }

  .hidden2.show1 {
    width: 38vw;
    height: 33vw;
  }

  .hidden1.show1 {
    width: 30vw;
    margin-right: 3vw;
    margin-left: 1vw;
  }

  .hidden1.show1 h2 {
    font-size: 4vw;
  }

  .hidden1.show1 p {
    font-size: 2.5vw;
  }

  .hidden1.show1 a {
    width: 30vw;
    font-size: 2.3vw;
  }
}

/* Smartphones médios e tablets pequenos */
@media (max-width: 600px) {
  .conteudo-animation2 {
    margin: 3vw;
    margin-right: 5vw;
  }

  .hidden2.show1 {
    width: 38vw;
    height: 36vw;
  }

  .hidden1.show1 {
    width: 30vw;
    margin-right: 3vw;
    margin-left: 1vw;
  }

  .hidden1.show1 h2 {
    font-size: 4vw;
  }

  .hidden1.show1 p {
    font-size: 2.8vw;
  }

  .hidden1.show1 a {
    width: 30vw;
    font-size: 2.3vw;
  }

}

/* Smartphones pequenos */
@media (max-width: 480px) {
  .conteudo-animation2 {
    margin: 3vw;
    margin-right: 5vw;
  }

  .hidden2.show1 {
    width: 27vw;
    height: 36vw;
  }

  .hidden1.show1 {
    width: 30vw;
    margin-right: 3vw;
    margin-left: 1vw;
  }

  .hidden1.show1 h2 {
    font-size: 4.5vw;
  }

  .hidden1.show1 p {
    font-size: 2.7vw;
  }

  .hidden1.show1 a {
    width: 30vw;
    font-size: 2.3vw;
  }
}

/* Smartphones muito pequenos */
@media (max-width: 320px) {
  .conteudo-animation2 {
    margin: 3vw;
    margin-right: 3vw;
  }

  .hidden2.show1 {
    width: 30vw;
    height: 32vw;
  }

  .hidden1.show1 {
    width: 30vw;
    margin-right: 3vw;
    margin-left: 1vw;
  }

  .hidden1.show1 h2 {
    font-size: 4vw;
  }

  .hidden1.show1 p {
    font-size: 2.8vw;
  }

  .hidden1.show1 a {
    width: 30vw;
    font-size: 2.3vw;
  }
}
