.dash-container {
    width: 80%;
    margin: 20px auto;
    background-color: transparent;
    padding: 20px;
}

.dash-header {
    position: relative; /* Adicione essa linha para usar posição absoluta para os ícones */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}
.dash-card {
    width: 330px;
    height: 150px;
    border-radius: 10px;
    color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}

.dash-card .background-icon {
    position: absolute;
    bottom: -20px;
    right: -20px;
    opacity: 0.2;
    font-size: 100px;
}

.card-dash-1 {
    background: linear-gradient(135deg, #8E70EE, #4C7ECF);
}

.card-dash-2 {
    background: linear-gradient(135deg, #FF6F61, #e778d9);
}

.card-dash-3 {
    background: linear-gradient(135deg,  #D65DB1 ,#987bc5);
}

.dash-card img {
    transform: scaleX(-1);
    width: 150px;
    height: 150px;
}

.content {
    position: relative;
    z-index: 1;
}

.title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.value {
    font-size: 24px;
    font-weight: bold;
}

.subtext {
    font-size: 14px;
    margin-top: 5px;
}


.dash-info h1 {
    margin: 0;
    font-size: 30px;
}

.dash-info p {
    margin: 5px 0;
    color: #666;
    font-size: 18px;
}

.location-icon {
    display: inline-block;
    font-size: 30px;
    vertical-align: middle;
}

.actions-buttons-dash{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.action-button-dash {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--verde);
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    padding: 5px 10px;
    cursor: pointer;
}

.favorite-icon {
    cursor: pointer;
    right: 20px;
    top: 7px;
    position: absolute;
}

.favorite-icon .icone-favoritado {
    color: var(--verde);
    font-size: 30px;
}

.favorite-icon .icone-favoritar {
    color: #666;
    font-size: 30px;
}

.dash-section {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    flex-grow: 1; 
}

.row-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.chart-line-section {
    overflow-x: hidden;
    overflow-y: hidden;
}

.chart-pie-section {
    height: 13vw; 
}   


.button-group {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  
  .button-group select {
    appearance: none;
    background-color: var(--verde);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
  }
  

  .button-group select:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  