.starRating span {
    cursor: pointer;
    color: #e4e5e9;
    font-size: 2rem;
    transition: color 200ms;
  }
  
  .starRating span:hover,
  .starRatingspan:hover ~ .starRating span {
    color: #ffc107;
  }
  