.beneficios {
  margin: 10vw 0;

  h3 {
    background: linear-gradient(to right, var(--verde), var(--azul));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: underline;
    font-size: 3vw;
  }
}


.animation1 {
  display: flex;
  gap: 13vw;
  justify-content: center;
  align-items: center;

  
}

.hidden {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateX(+120%);
  transition: all 2s;
}

.card {
  width: 15vw;
  height: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show {
  display: flex;
  flex-direction: column;
  color: black;
  opacity: 1;
  transform: translateX(0);
  transition: all 2.5s;
}

.show h2 {
  margin-top: 6px;
  width: 100%;
  text-align: center;
  font-size: 1.4vw;
  font-weight: 200;
}


.review,
.high-five {
  width: 17vw;
  height: 17vw;
}

.high-five {
  margin-top: -20px;
}

.agenda {
  width: 21vw;
  height: 15vw;
}



/* Desktops de tela maior */
@media (max-width: 1600px) {

  
  }
  
  /* Tablets em modo paisagem e dispositivos híbridos */
  @media (max-width: 1024px) {

    .beneficios h3 {
      font-size: 2.7vw;
    }

    .show {
      width: 20vw;
      align-items: center;
    }
  
    .show h2 {
      font-size: 2.3vw;
    }
  
    .review,
    .high-five {
      width: 14vw;
      height: 14vw;
    }
  
    .show1 h2 {
      font-size: 2.3vw;
    }
  
    .show1 p {
      font-size: 2vw;
    }
  
  }
  
  /* Tablets em modo retrato e smartphones grandes */
  @media (max-width: 768px) {
    .show {
      width: 20vw;
      align-items: center;
    }
  
    .show h2 {
      font-size: 2.5vw;
    }
  
    .review,
    .high-five {
      width: 14vw;
      height: 14vw;
    }
  
    .show1 h2 {
      font-size: 3.5vw;
    }
  
    .show1 p {
      font-size: 2.5vw;
    }
  
    .show1 a {
      opacity: 1;
      transform: translateY(0%);
      transition-delay: 1100ms;
      padding: 2vw;
      font-size: 2.5vw;
    }
  
  }
  
  /* Smartphones médios e tablets pequenos */
  @media (max-width: 600px) {
    
  
  }
  
  /* Smartphones pequenos */
  @media (max-width: 480px) {
    
    .beneficios h3 {
      font-size: 2.3vw;
    }

    .show {
      width: 20vw;
      align-items: center;
    }
  
    .show h2 {
      font-size: 2.7vw;
    }
  
    .review {
      width: 20vw;
      height: 18vw;
    }

    .high-five {
      width: 16vw;
      height: 15vw;
    }
  
    .show1 h2 {
      font-size: 3.5vw;
    }
  
    .show1 p {
      font-size: 1.8vw;
    }
  
  }
  
  /* Smartphones muito pequenos */
  @media (max-width: 320px) {
  
  }
  