.area-servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
    padding: 20px;
}
.ifopenf{
    display: flex;
    flex-direction: column;
    
}

.cards-container {
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vw;
}

.card-profissional {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    transition: all .25s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.card-profissional:hover {
    transform: scale(1.01);
}

.tamplate-img {
    display: flex;
    gap: 0.5vw;
    align-items: center;
    height: 100px;
}

.tamplate-img img {
    width: 4vw;
    height: 4vw;
    border: solid 2px grey;
    border-radius: 50%;
}

.profissoes-card-profissional {
    display: flex;
    height: 70px;
    gap: 0.5vw;
    align-items: center;

    p {
        background-color: #b1b1b1;
        padding: 6px;
        border-radius: 20px;
        height: 20px;
        max-width: 66px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; /* Para garantir que o texto não seja quebrado */
        position: relative; /* Necessário para o posicionamento do tooltip */

        .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px;
            position: absolute;
            z-index: 1;
            bottom: 125%; /* Posiciona o tooltip acima do texto */
            left: 50%;
            margin-left: -60px;
            opacity: 0;
            transition: opacity 0.3s;
            white-space: normal; /* Para permitir quebra de linha no tooltip */
        }

        &:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
    }
}

.perfil-avaliado {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.desc-cliente {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.6vw;
    height: 60px;
}

.star {
    display: flex;
    width: 200vw;
}

.ri-star-s-fill {
    font-size: 1.4vw;
    color: #d9d9d9;
    margin: 0;
}

.ava {
    color: var(--verde);
}

h2 {
    margin: 0;
}

.contrate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom-card-profissional {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.btn-ver-mais {
    background-color: #00c17d;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px 35px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.25s ease-in-out;
    
}

.btn-ver-mais:hover {
    background-color: var(--azul);
}

/*filtros*/

.filtros {
    cursor: pointer;
    background-color: white;
}

.sem-profissionais {
    p {
        font-size: 1.5vw;
    }
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27vw;
    border-radius: 15px;
    border: solid 2px #eee;
    background-color: white;
    position: -ms-page;
}

.modal-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    gap: 20px;
}

.modal-content span {
    font-size: 1.3vw;
}

.btn-close-modal {
    border: none;
    background-color: white;
    cursor: pointer;
    color: red;
    font-size: 1vw;
}

.container-card-filtros {
    display: flex;
    gap: 1vw;
}

.card-filtro {
    color: white;
    border: none;
    border-radius: 10px;
    background-color: var(--verde);
    cursor: pointer;
}

/* 


/* Responsividade */

/* Tablets em modo paisagem e dispositivos híbridos */
@media (max-width: 1024px) {
    .cards-container {
        width: auto;
    }

    .card-profissional {
        width: 36vw;
        height: auto;
    }

    .tamplate-img {
        height: auto;
        margin-top: 1vw;
        margin-bottom: 1vw;
    }

    .tamplate-img img {
        width: 7vw;
        height: 7vw;
    }

    .desc-cliente {
        margin-top: 1vw;
        margin-bottom: 1vw;
        height: auto;
    }

    .perfil-avaliado h2 {
        font-size: 3vw;
    }

    .ava {
        font-size: 3vw;
    }

    .ri-star-s-fill {
        font-size: 3vw;
    }

    .desc {
        font-size: 2.3vw;
    }

    .profissoes-card-profissional {
        height: auto;
    }

    .bottom-card-profissional {
        margin: 2vw;
    }

    .btn-ver-mais {
        font-size: 2.3vw;
        padding: 1vw 2.5vw;
    }
}

/* Tablets em modo retrato e smartphones grandes */
@media (max-width: 768px) {
    .card-profissional {
        width: 40vw;
        height: auto;
    }

    .tamplate-img {
        height: auto;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }

    .tamplate-img img {
        width: 10vw;
        height: 10vw;
    }

    .desc-cliente {
        margin-top: 2vw;
        margin-bottom: 2vw;
        height: auto;
    }

    .perfil-avaliado h2 {
        font-size: 3.5vw;
    }

    .ava {
        font-size: 3.5vw;
    }

    .ri-star-s-fill {
        font-size: 3.5vw;
    }

    .desc {
        font-size: 2.7vw;
    }

    .profissoes-card-profissional {
        height: auto;
    }

    .bottom-card-profissional {
        margin: 3vw;
    }

    .btn-ver-mais {
        font-size: 2.7vw;
        padding: 1vw 3.5vw;
    }
}

/* Smartphones médios e tablets pequenos */
@media (max-width: 600px) {

    .perfil-avaliado h2 {
        font-size: 4vw;
    }

    .desc {
        font-size: 3vw;
    }

    .ri-star-s-fill {
        font-size: 3vw;
    }

    .btn-ver-mais {
        font-size: 3vw;
        padding: 1.5vw 4vw;
    }
}

/* Smartphones pequenos */
@media (max-width: 480px) {

    .tamplate-img {
        margin-top: 1vw;
        margin-bottom: 1vw;
    }

    .tamplate-img img {
        width: 11vw;
        height: 11vw;
    }

    .perfil-avaliado h2 {
        font-size: 4vw;
    }

    .ava {
        font-size: 4vw;
    }

    .ri-star-s-fill {
        font-size: 4vw;
    }

    .desc {
        font-size: 3.3vw;
    }

    .bottom-card-profissional {
        margin: 2vw;
    }

    .btn-ver-mais {
        font-size: 3.3vw;
        padding: 2vw 8vw;
    }
}

/* Smartphones muito pequenos */
@media (max-width: 320px) {}