.area-servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
    padding: 20px;
}
.ifopenf{
    display: flex;
    flex-direction: column;
    
}

.cards-container {
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vw;
}

.card-profissional {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    transition: all .25s;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.tamplate-img,
.profissoes-card-profissional,
.desc-cliente,
.bottom-card-profissional {
  flex: 1;
}
.card-profissional:hover {
    transform: scale(1.02);
}

.tamplate-img {
    display: flex;
    gap: .5vw;
    align-items: center;
}

.tamplate-img img {
    width: 4vw !important;
    height: 4vw !important;
    border: solid 2px grey;
    border-radius: 50%;
}

.profissoes-card-profissional {
    display: inline-flex;
    gap: .5vw;

    p {
        background-color: #b1b1b1;
        padding: 6px;
        border-radius: 50vw;
    }
}

.perfil-avaliado {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.desc-cliente {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.6vw;
}

.star {
    display: flex;
    width: 200vw;
}

.ri-star-s-fill {
    font-size: 1.4vw;
    color: #d9d9d9;
    margin: 0;
}

.ava {
    color: var(--verde);
}

h2 {
    margin: 0;
}

.contrate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom-card-profissional {
    display: flex;
    justify-content: center;
}

.btn-ver-mais {
    background-color: var(--verde);
    color: white;
    font-size: 1vw;
    border: none;
    border-radius: 50vw;
    padding: .5vw 1vw .5vw 1vw;
    transition: 0.25s ease-in-out;
    margin: 20px 0;
    cursor: pointer;
}

.btn-ver-mais:hover {
    background-color: var(--azul);
}

/*filtros*/

.filtros {
    cursor: pointer;
    background-color: white;
}

.sem-profissionais {
    p {
        font-size: 1.5vw;
    }
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27vw;
    border-radius: 15px;
    border: solid 2px #eee;
    background-color: white;
    position: -ms-page;
}

.modal-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    gap: 20px;
}

.modal-content span {
    font-size: 1.3vw;
}

.btn-close-modal {
    border: none;
    background-color: white;
    cursor: pointer;
    color: red;
    font-size: 1vw;
}

.container-card-filtros {
    display: flex;
    gap: 1vw;
}

.card-filtro {
    color: white;
    border: none;
    border-radius: 10px;
    background-color: var(--verde);
    cursor: pointer;
}

/* Responsividade */

/* Tablets em modo paisagem e dispositivos híbridos */
@media (max-width: 1024px) {
        
    /*arrumando card */
    
    .card-profissional {
        width: 35vw;
        height: auto;
    }
    
    .perfil-avaliado h2 {
        font-size: 2.5vw;
    }
    
    .tamplate-img img {
        width: 6.7vw;
        height: 6.7vw;
    }
    
    .ri-star-s-fill {
        font-size: 2.75vw;
    }
    
    .profissoes-card-profissional {
        p{
            font-size: 1.7vw;
            padding: 8px;
        }
    }
    
    .desc {
        font-size: 1.7vw;
    }
    
    .btn-ver-mais {
        width: 11.5vw;
        height: 5vw;
        font-size: 1.7vw;
    }
    }
    
    /* Tablets em modo retrato e smartphones grandes */
    @media (max-width: 768px) {
        
    /*arrumando card */
    
    .card-profissional {
        width: 35vw;
        height: auto;
        padding: 15px;
    }
    
    .perfil-avaliado h2 {
        font-size: 3.4vw;
    }
    
    .tamplate-img img {
        width: 7.7vw;
        height: 7.7vw;
    }
    
    .ri-star-s-fill {
        font-size: 3.55vw;
    }
    
    .profissoes-card-profissional {
        p{
            font-size: 2vw;
        }
    }
    
    .desc {
        font-size: 2vw;
    }
    
    .btn-ver-mais {
        width: 12.5vw;
        font-size: 2vw;
    }
    }
    
    /* Smartphones médios e tablets pequenos */
    @media (max-width: 600px) {
        .modal {
            width: 26vw;
            height: 35vw;
        }
    
        .container-card-filtros{
            flex-direction: column;
        }
    
        .card-filtro {
            font-size: 2.7vw;
            height: 8vw;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .btn-close-modal {
            font-size: 2.7vw;
        }
    
    /*arrumando card */
    
        .card-profissional {
            width: 32vw;
            height: auto;
            padding: 15px;
        }
    
        .perfil-avaliado h2 {
            font-size: 3vw;
        }
    
        .ri-star-s-fill {
            font-size: 3.55vw;
        }
    
        .profissoes-card-profissional {
            p{
                font-size: 2.3vw;
                padding: 6px;
            }
        }
    
        .desc {
            font-size: 2.3vw;
        }
    
        .btn-ver-mais {
            width: 14vw;
            height: 5.5vw;
            font-size: 2.3vw;
        }
    }
    
    /* Smartphones pequenos */
    @media (max-width: 480px) {
        .modal {
            width: 32vw;
            height: 42vw;
        }
    
        .container-card-filtros{
            flex-direction: column;
        }
    
        .card-filtro {
            font-size: 2.7vw;
            height: 8vw;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .btn-close-modal {
            font-size: 2.7vw;
        }
    
    /*arrumando card */
    
        .card-profissional {
            width: 38vw;
            height: auto;
            padding: 10px;
        }
    
        .perfil-avaliado h2 {
            font-size: 3.5vw;
        }
    
        .tamplate-img img {
            width: 7vw;
            height: 7vw;
        }
    
        .ri-star-s-fill {
            font-size: 3vw;
        }
    
        .profissoes-card-profissional {
            p{
                font-size: 2.7vw;
                padding: 4px;
            }
        }
    
        .desc {
            font-size: 2.7vw;
        }
    
        .btn-ver-mais {
            width: 16vw;
            height: 6vw;
            font-size: 2.7vw;
        }
    }
    
    /* Smartphones muito pequenos */
    @media (max-width: 320px) {
    
    }
    