.perfil-profissional {
    background-color: white;
    border-radius: 10px;
    width: 60vw;
    padding: 2vw;
}

.iniciar-conversa {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5vw 1vw .5vw 1vw;
    border-radius: 50vw;
    background-color: var(--verde);
    color: white;
    transition: all .25s;
}

.iniciar-conversa:hover {
    background-color: var(--azul);
}

.perfil-profissional .cabecalho-perfil .perfil-nome {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.profissoes-profissional {
    display: flex;
    align-items: center;
    gap: .5vw;
}

.perfil-profissional .cabecalho-perfil .perfil-nome img {
    width: 8vw;
    outline: 3px solid var(--verde);
    border-radius: 100%;
}

.perfil-profissional .cabecalho-perfil .perfil-nome .nome-profissao h1 {
    font-size: 1.7rem;
}

.perfil-profissional .cabecalho-perfil .menu-perfil {
    display: flex;
    justify-content: flex-end;
}

.perfil-profissional .cabecalho-perfil .menu-perfil ul {
    display: flex;
    list-style: none;
}

.perfil-profissional .cabecalho-perfil .menu-perfil li {
    margin-right: 20px;
    font-size: 1.3rem;
}

.descricao-profissional {
    display: flex;
    align-items: center;
    gap: 20px;
}

.descricao-profissional .info-pessoais {
    width: 40vw;
    gap: 10px;
}

.descricao-profissional .info-pessoais .avaliacoes {
    display: flex;
    gap: .5vw;
    align-items: center;
}

.servicos-realizados {
    display: flex;
    align-items: center;
    gap: .5vw;
}