.perfil-profissional {
    background-color: white;
    border-radius: 10px;
    width: 60vw;
    padding: 2vw;

    a {
        width: 0;
        display: block;
        margin-bottom: 2vw;
    }
}

.btn-voltar-perfil-profissional {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--verde);
    padding: 1.5vw;
    font-size: 1vw;
    border-radius: 100%;
    color: white;
    cursor: pointer;
    transition: all .25s;
}

.btn-voltar-perfil-profissional:hover {
    background-color: var(--azul);
}

.iniciar-conversa {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5vw 1vw .5vw 1vw;
    border-radius: 50vw;
    background-color: var(--verde);
    color: white;
    transition: all .25s;
}

.iniciar-conversa:hover {
    background-color: var(--azul);
}

.perfil-profissional .cabecalho-perfil .perfil-nome {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.profissoes-profissional {
    display: flex;
    align-items: center;
    gap: .5vw;
}

.perfil-profissional .cabecalho-perfil .perfil-nome img {
    width: 8vw;
    outline: 3px solid var(--verde);
    border-radius: 100%;
}

.perfil-profissional .cabecalho-perfil .perfil-nome .nome-profissao h1 {
    font-size: 1.7rem;
}

.perfil-profissional .cabecalho-perfil .menu-perfil {
    display: flex;
    justify-content: flex-end;
}

.perfil-profissional .cabecalho-perfil .menu-perfil ul {
    display: flex;
    list-style: none;
}

.perfil-profissional .cabecalho-perfil .menu-perfil li {
    margin-right: 20px;
    font-size: 1.3rem;
}

.linha-separadora {
    width: 60vw;
    height: 5px;
    background-color: #b1b1b1;
    border-radius: 100vw;
    margin: 20px 0;
}

.descricao-profissional {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.servicos-realizados {
    display: flex;
    align-items: center;
    gap: .5vw;
}

.portifolio-profissional {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .titulo-portifolio-profissional {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--verde);
        color: white;
        width: 60vw;
        border-radius: 10px 10px 0 0;
        font-size: 1vw;
    }
}

.servicos-portifolio-profissional {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    height: 500px;

    h2 {
        color: grey;
        margin: 25px 0;
    }
}

/*Area das avaliacoes*/

.descricao-profissional .info-pessoais .avaliacoes {
    display: flex;
    gap: .5vw;
    align-items: center;
}

.avaliacoes-media-star {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 50px 0;

    p {
        margin: 0;
        font-size: 1.5vw;
        background-color: var(--verde);
        color: white;
        width: 100%;
        border-radius: 100vw;
        text-align: center;
    }
}

.avaliacao-avaliacoes {}

.avaliacao-card {}

.texto-comentario-avaliacao-card {}

.left-avaliacao-card {
    display: flex;
    align-items: center;
    gap: .5vw;
}