
.profile-container {
    width: 80%;
    margin: 20px auto;
    background-color: transparent;
    padding: 20px;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 45px;
}

.profile-picture {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.profile-info {
    flex-grow: 1;
    margin-left: 20px;
}

.profile-info h1 {
    margin: 0;
    font-size: 30px;
}

.profile-info p {
    margin: 5px 0;
    color: #666;
    font-size: 18px;
}

.location-icon {
    display: inline-block;
    font-size: 30px;
    vertical-align: middle;
}

.actions-buttons-profile{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.action-button-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--verde);
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    padding: 5px 10px;
    cursor: pointer;
}

.profile-section {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    flex-grow: 1; 
}

.row-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.section-header h2 {
    margin: 0;
    font-size: 1.3em;
}

.section-content {
    padding: 10px 0;
}


.tags {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    background-color: #e0e7ff;
    color: #333;
    border-radius: 15px;
    padding: 5px 10px;
    margin: 5px;
}

.gallery-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 35vw;
    height: 20vw;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}

.gallery .images {
    width: 150px;
    height: 100px;
    background-color: #ddd;
    border-radius: 2px;
    margin-right: 10px;
}
.feedback-section {
    max-height: 27vw;
    overflow: hidden; /* Oculta o conteúdo que excede a altura */
}

.feedback-list {
    display: flex;
    flex-direction: column;
    max-height: 100%; /* Ajusta para altura máxima baseada no conteúdo */
    overflow-y: auto; /* Adiciona barra de rolagem vertical quando necessário */
}

.feedback-box {
    display: flex;
    flex-direction: column;
    background-color: #cdcdcd47;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.feedback-author {
    display: flex;
    align-items: center;
}

.author-name {
    font-size: 14px;
    margin: 0;
}

.feedback-text {
    color: #666;
    font-size: 15px;
    word-break: break-word;
}

.feedback-name-score {
    display: flex;
    flex-direction: column;
}

.feedback-profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.feedback-score {
    display: flex;
    align-items: center;
    margin-top: 5px;
}