.postarServico1 {
  width: 70vw;
  border-radius: 20px;
  padding: 2vw;
  background: #fff;
}

.cepError {
  font-size: 0.5vw;
  color: red;
  position: absolute;
  margin-left: 0.5vw;
}

.publicarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  margin-bottom: 10px;
}

.publicarPassos {
  display: flex;
  margin-right: 13vw;
  display: flex;
  gap: 2vw;
}

.publicarTitulo {
  margin-left: 7vw;
  font-size: 2vw;
  font-weight: 700;
}

.publicar123 {
  width: 2.5vw;
  height: 2.5vw;
  background: transparent;
  border: solid 2px #bebebe;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3vw;
  color: #bebebe;
}

.publicar123.form {
  color: var(--verde);
  border: solid 2px var(--verde);
}

.headerVoltar {
  width: inherit;
  height: auto;
}

.headerVoltar .btnVoltar {
  display: flex;
  width: 2.5vw;
  height: 2.5vw;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: var(--verde) solid 3px;
  border-radius: 50%;
  margin: 1vw 0 0 1vw;
  cursor: pointer;
}

.headerVoltar .btnVoltar .iconeVoltar {
  font-size: 2vw;
  color: var(--verde);
}

.left-rightPostar {
  display: flex;
}

.leftPostar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 5vw;
  width: 100%;
}

.tituloServico {
  font-size: 1.4vw;
  font-weight: 400;
}

.emergente-categorias {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1vw;
  width: 35vw;
}

.emergente {
  display: flex;
  align-items: center;
  gap: 1vw;
  font-size: 1.2vw;
  font-weight: 100;
}

.emergenteDuvida {
  font-size: 2.5vw;
  color: var(--verde);
}

.categorias {
  border-radius: 8px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 1vw;
  font-size: 1vw;
  border: none;
  background-color: #eeeeee;
}

.option-endereco-principal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5vw;

  p {
    font-size: 1vw;
  }
}

/* Oculta o checkbox padrão */
.custom-checkbox input[type="checkbox"] {
  display: none;
}

/* Estilo do contêiner do checkbox */
.custom-checkbox {
  display: flex;
  cursor: pointer;
}

/* Estilo da caixinha personalizada */
.custom-checkbox .checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5vw;
  width: 1.5vw;
  background-color: #eee;
  font-size: 1vw;
}

/* Estilo da caixinha quando o checkbox está marcado */
.custom-checkbox input:checked+.checkmark {
  background-color: var(--verde);
  color: white;
}

.rightPostar {
  height: inherit;
  width: 25vw;
  margin-right: 3vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.btnProximo {
  display: flex;
  width: 10vw;
  height: 3vw;
  justify-content: center;
  align-items: center;
  border-radius: 2vw;
  background-color: #3cbc8c;
  color: white;
  font-size: 1.2vw;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: 0.25s;
}

.btnProximo:hover {
  background-color: var(--azul);
}

.postarH4 {
  font-size: 20px;
  color: #474747;
  font-weight: 200;
}

.cep-estado,
.bairro-rua,
.num-complemento {
  display: flex;
  gap: 3vw;
}

.linha-postar {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: inherit;
  height: inherit;
  margin-top: 2vw;
}

.linha-postar .btnProximo {
  margin-right: 2vw;
}

.rua-numero {
  display: flex;
  gap: 4vw;
}

.mapa {
  background-color: #bebebe;
  width: 25vw;
  height: 20vw;
  border-radius: 10px;
  margin-right: 1vw;
}

.zoom {
  display: flex;
  gap: 1vw;
}

.mais-menos {
  width: 1.5vw;
  height: 1.5vw;
  color: var(--verde);
  border: 0.4px var(--verde) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.4vw;
}

.rightPostar .postarH4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 26vw;
}

#rightPostar2 {
  gap: 1vw;
}

.inicio-fim {
  display: flex;
  gap: 1vw;
}

.pretensaoH4 {
  color: rgba(71, 71, 71, 0.5);
  font-size: 20px;
  font-weight: 400;
}

.anexoLabel {
  border-radius: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  font-size: 1.5vw;
  padding: .5vw 1vw .5vw 1vw;
  color: white;
  background-color: var(--verde);
  font-weight: 300;
  cursor: pointer;
  transition: all .25s;
}

.anexoLabel:hover {
  background-color: var(--azul);
}

.anexo {
  display: none;
  /* Oculta o input file */
}

.content-img-button {
  margin-top: 1.2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.iconAnexo {
  font-size: 1.9vw;
}

.selected-image {
  position: relative;
  cursor: pointer;
}

.filter {
  position: absolute;
  width: 100%;
  height: 95%;
  display: flex;
  top: 48.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  justify-content: center;
  align-items: center;
}

.fade-main-image-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10000vw;
  height: 10000vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;
}


.main-image-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.3vw;
  padding: 1vw;
  align-items: center;
  gap: 2vw;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
}

.img-main-image-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25vw;
  height: 25vw;
  padding: 2vw;
  background-color: #eeeeee;
  border-radius: 10px;
}

.fechar-fotos {
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
  font-size: 1.9vw;
  border: none;
  background-color: transparent;
  width: auto;
  height: auto;
  color: red;
}

.main-image {
  max-height: 25vw;
  max-width: 25vw;
}

.prev-next {
  background-color: var(--verde);
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  font-size: 1.5vw;
  cursor: pointer;
  color: white;
  transition: all .25s;
}

.prev-next:hover {
  background-color: var(--azul);
}

.images-modal {
  display: flex;
  padding: 10px;
  gap: 1vw;
  flex-direction: row;
  background-color: #eeeeee;

  img {
    width: 5vw;
    height: 5vw;
  }
}

.main-image-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.header-modal {
  display: flex;
  align-items: center;
  gap: 1vw;

  p {
    color: var(--verde);
    font-size: 1.5vw;
  }
}

.delete-image {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  padding: .5vw;
  background-color: white;
  cursor: pointer;
  font-size: 1w;
  border-radius: 50vw;
}

.selected-image-modal:hover .delete-image {
  visibility: visible;
}

.invisible {
  visibility: hidden;
  z-index: 2;
}

.modal-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-confirmacao {
  position: absolute;
  width: 30vw;
  height: 30vw;
  display: flex;
  top: 48.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(233, 233, 233, 0.938);
  color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.modal-close:hover {
  color: #f00;
}

.modal-content {
  margin-top: 20px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.modal-buttons button {
  padding: 8px 16px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-buttons button:first-child {
  background-color: #ccc;
  color: #333;
}

.modal-buttons button:last-child {
  background-color: #f00;
  color: #fff;
}

.modal-buttons button:last-child:hover {
  background-color: #f00;
}

.modal-postar-sucess {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 55vw;
  height: 30vw;
  background-color: #fff;
  position: absolute;
  border-radius: 15px;
  gap: 1vw;
}

.modal-postar-sucess h3 {
  font-size: 2vw;
  font-weight: 600;

}

.modal-postar-sucess img {
  width: 10vw;
  height: 10vw;
}

.modal-postar-sucess p {
  font-size: 1vw;


}

.close-modal-postar {
  display: flex;
  width: 211px;
  height: 57px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #3CBC8C;
  box-shadow: 0px 2px 4px 0px rgba(136, 144, 194, 0.20), 0px 5px 15px 0px rgba(20, 68, 116, 0.15);
  color: white;
  border: none;
  font-size: 1vw;
  cursor: pointer;
  font-weight: 600;
}

.fade {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.message-error-postar-initial {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 10vw;
  height: 5vw;
  background-color: #ece3e3;
  border-radius: 10px;
  color: #f00;
}

.componente-content-input.input-busque-por-servicos {
  width: 35vw;
  height: 1.5vw;
  margin: 0 ;
}

.componente-content-input.input-desc-servico {
  width: 35vw;
  height: 10vw;
  margin: 0;
}

.componente-content-input.input-cep {
  width: 14vw;
  height: 1.5vw;
}

.componente-content-input.input-estado {
  width: 30vw;
  height: 1.5vw;
}

.componente-content-input.input-bairro {
  width: 24vw;
  height: 1.5vw;
}

.componente-content-input.input-rua {
  width: 20vw;
  height: 1.5vw;
}

.componente-content-input.input-residencia {
  width: 8vw;
  height: 1.5vw;
}

.componente-content-input.input-complemento {
  width: 20vw;
  height: 1.5vw;
}

/* Responsividade */

/* Tablets em modo paisagem e dispositivos híbridos */
@media (max-width: 1024px) {
  .publicarTitulo {
    font-size: 3vw;
  }

  .publicar123 {
    width: 5vw;
    height: 5vw;
    font-size: 2.3vw;
  }

  .tituloServico {
    font-size: 2.75vw;
  }

  .publicarPassos {
    gap: 4vw;
  }

  .componente-content-input::placeholder {
    font-size: 2.3vw;
  }


  .btnProximo {
    width: 16vw;
    height: 5vw;
    font-size: 2.3vw;
  }

  .anexoLabel {
    width: 14vw;
    height: 4vw;
    font-size: 2.3vw;
  }

  .componente-content-input.input-busque-por-servicos {
    height: 3vw;
    width: 41vw;
    font-size: 2.3vw;
  }

  .componente-content-input.input-busque-por-servicos::placeholder {
    font-size: 2.3vw;
  }

  .componente-content-input.input-desc-servico {
    font-size: 2.3vw;
    height: 15vw;
  }

  .categorias {
    font-size: 1.9vw;
    height: 3.75vw;
  }

  .headerVoltar .btnVoltar {
    width: 5vw;
    height: 5vw;
  }

  .headerVoltar .btnVoltar .iconeVoltar {
    font-size: 4vw;
  }

  .postarServico1 {
    width: 88vw;
  }

  .componente-content-input.input-cep {
    width: 18vw;
    height: 2.75vw;
    font-size: 2.3vw;
  }

  .componente-content-input.input-estado {
    height: 2.75vw;
    font-size: 2.3vw;
    width: 40vw;
  }

  .componente-content-input.input-bairro {
    width: 24vw;
    height: 2.75vw;
    font-size: 2.3vw;
  }

  .componente-content-input.input-rua {
    width: 25vw;
    height: 2.75vw;
    font-size: 2.3vw;
  }

  .componente-content-input.input-residencia {
    width: 22vw;
    height: 2.75vw;
    font-size: 2.3vw;
  }

  .componente-content-input.input-complemento {
    width: 28vw;
    height: 2.75vw;
    font-size: 2.3vw;
  }

  .postarH4 {
    font-size: 2.3vw;
  }
}

/* Tablets em modo retrato e smartphones grandes */
@media (max-width: 768px) {
  .publicarTitulo {
    font-size: 3.5vw;
  }

  .publicar123 {
    width: 4vw;
    height: 4vw;
    font-size: 2vw;
  }

  .tituloServico {
    font-size: 3vw;
  }

  .publicarPassos {
    gap: 3.5vw;
  }

  .componente-content-input::placeholder {
    font-size: 2.7vw;
  }

  .btnProximo {
    font-size: 2.7vw;
  }

  .anexoLabel {
    font-size: 2.7vw;
  }

  .componente-content-input.input-busque-por-servicos {
    font-size: 2.7vw;
  }

  .componente-content-input.input-busque-por-servicos::placeholder {
    font-size: 2.7vw;
  }

  .componente-content-input.input-desc-servico {
    font-size: 2.7vw;
  }

  .categorias {
    font-size: 2.7vw;
    height: 7vw;
  }

  .headerVoltar .btnVoltar {
    width: 4vw;
    height: 4vw;
  }

  .headerVoltar .btnVoltar .iconeVoltar {
    font-size: 3vw;
  }

  .postarServico1 {
    width: 88vw;
  }

  .componente-content-input.input-cep {
    font-size: 2.7vw;
  }

  .componente-content-input.input-estado {
    font-size: 2.7vw;
    width: 40vw;
  }

  .componente-content-input.input-bairro {
    font-size: 2.7vw;
  }

  .componente-content-input.input-rua {
    font-size: 2.7vw;
  }

  .componente-content-input.input-residencia {
    font-size: 2.7vw;
  }

  .componente-content-input.input-complemento {
    font-size: 2.7vw;
  }

  .postarH4 {
    font-size: 2.7vw;
  }
}

/* Smartphones médios e tablets pequenos */
@media (max-width: 600px) {
  .publicarTitulo {
    font-size: 4vw;
  }

  .publicar123 {
    width: 6.5vw;
    height: 6.5vw;
    font-size: 4vw;
  }

  .tituloServico {
    font-size: 3.5vw;
  }

  .publicarPassos {
    gap: 3.5vw;
    margin-right: 5vw;
  }

  .componente-content-input::placeholder {
    font-size: 3vw;
  }


  .btnProximo {
    font-size: 3vw;
    height: 7vw;
    width: 18vw;
  }

  .anexoLabel {
    font-size: 3vw;
    height: 6vw;
    width: 18vw;
  }

  .componente-content-input.input-busque-por-servicos {
    font-size: 3vw;
  }

  .componente-content-input.input-busque-por-servicos::placeholder {
    font-size: 3vw;
  }

  .componente-content-input.input-desc-servico {
    font-size: 3vw;
    height: 20vw;
    width: 35vw;
  }

  .categorias {
    font-size: 3vw;
    height: 7vw;
  }

  .categorias option {
    height: 7vw;
    width: 5vw;
    font-size: 3.3vw;
  }

  .headerVoltar .btnVoltar {
    width: 6.5vw;
    height: 6.5vw;
  }

  .headerVoltar .btnVoltar .iconeVoltar {
    font-size: 5.5vw;
  }

  .componente-content-input.input-cep {
    font-size: 3vw;
    height: 4vw;
  }

  .componente-content-input.input-estado {
    font-size: 3vw;
    height: 4vw;
  }

  .componente-content-input.input-bairro {
    font-size: 3vw;
    height: 4vw;
  }

  .componente-content-input.input-rua {
    font-size: 3vw;
    height: 4vw;
  }

  .componente-content-input.input-residencia {
    font-size: 3vw;
    height: 4vw;
  }

  .componente-content-input.input-complemento {
    font-size: 3vw;
    height: 4vw;
  }

  .postarH4 {
    font-size: 5vw;
  }
}

/* Smartphones pequenos */
@media (max-width: 480px) {
  .publicarTitulo {
    font-size: 4vw;
  }
  .publicarPassos {
    margin-right: 11vw;
  }
  .publicar123 {
    width: 5vw;
    height: 5vw;
    font-size: 3.3vw;
  }

  .tituloServico {
    font-size: 3.5vw;
  }

  .componente-content-input::placeholder {
    font-size: 3.3vw;
  }


  .btnProximo {
    font-size: 3.3vw;
    width: 20vw;
    height: 6vw;
  }

  .anexoLabel {
    width: 20vw;
    height: 6vw;
    font-size: 3.3vw;
  }

  .componente-content-input.input-busque-por-servicos {
    font-size: 3.3vw;
    height: 4vw;
  }

  .componente-content-input.input-busque-por-servicos::placeholder {
    font-size: 3.3vw;
    height: 4vw;
  }

  .componente-content-input.input-desc-servico {
    font-size: 3.3vw; 
  }

  .categorias {
    font-size: 3.3vw;
    height: 10vw;
  }

  .headerVoltar .btnVoltar {
    width: 5vw;
    height: 5vw;
  }

  .headerVoltar .btnVoltar .iconeVoltar {
    font-size: 4vw;
  }


  .componente-content-input.input-cep {
    font-size: 3.3vw;
    height: 4vw;
  }

  .componente-content-input.input-estado {
    font-size: 3.3vw;
    height: 4vw;
  }

  .componente-content-input.input-bairro {
    font-size: 3.3vw;
    height: 4vw;
  }

  .componente-content-input.input-rua {
    width: 20vw;
    font-size: 3.3vw;
    height: 4vw;
  }

  .componente-content-input.input-residencia {
    width: 12vw;
    height: 2.75vw;
    font-size: 3.3vw;
    height: 4vw;
  }

  .componente-content-input.input-complemento {
    width: 20vw;
    height: 2.75vw;
    font-size: 3.3vw;
    height: 4vw;
  }
  
}

/* Smartphones muito pequenos */
@media (max-width: 320px) {

}