/*CARD*/

.area-servicos {
    display: flex;
    flex-direction: column;
}

.card-servico {
    display: flex;
    justify-content: space-around;
    width: 55vw;
    height: auto;
    border: solid 1px black;
    border-radius: 25px;
}

.tamplate-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65%;
}

.tamplate-img img {
    width: 5vw;
    height: 5vw;
    border: solid 2px grey;
    border-radius: 50%;
}

.perfil-avaliado {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.desc-cliente {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.6vw;
}

.star {
    display: flex;
    width: 200vw;
}

.ri-star-s-fill {
    font-size: 1.4vw;
    color: #d9d9d9;
    margin: 0;
}

.ava {
    color: var(--verde);
}

h2 {
    margin: 0;
}

.emblemas {
    display: flex;
    gap: 0.8vw;
}

.content-desc {
    height: auto;
}

.desc {
    width: 25vw;
    font-size: 1vw;
    height: auto;
}



.emblemas img {
    width: 2vw;
    height: 2vw;
}


.contrate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-contratar {
    background-color: var(--verde);
    color: white;
    width: 8vw;
    font-size: 1vw;
    height: 3vw;
    border: none;
    border-radius: 1vw;
    transition: 0.25s ease-in-out;
}

.btn-contratar:hover {
    background-color: var(--azul);
}

.serv-realizados {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 1vw;
}

.serv-realizados img {
    width: 30px;
    height: 30px;
}


.desc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 1vw;
    margin: 0;
}

.desc.expandido {
    -webkit-line-clamp: initial;
}


.vma-vme {
    cursor: pointer;
    color: var(--azul);
}