
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{ 
  background-color: #f4f4f4;
  font-family: "Inter", sans-serif;}

.menu-topo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 75vw;
  margin-bottom: 3vw;
}
.actions {
  display: flex;
}

.actions .info-action {
  display: flex;
  flex-direction: column;
}

.actions .info-action p {
  font-size: 1vw;
}

.actions .info-action .action {
  display: flex;
  flex-direction: row;
  width: 20vw;
  height: 10vw;
  background-color: var(--verde-claro);
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
}

.actions .info-action .action p {
  width: 7vw;
  font-size: 1vw;
  color: var(--verde);
}

.actions .info-action .action img {
  width: 5vw;
  height: 5vw;
}


.h1Home {
  font-size: 1.3vw;
  width: 22vw;
  color: var(--verde);
  text-align: center;
  margin-bottom: 3vw;
}
/*Fazendo sessao input*/
.input-filtros {
  display: flex;
  justify-content: space-between;
  width: 55vw;
  min-height: 10vw;
}

.input-filtros input {
  margin-left: 0.5vw;
  font-size: 0.99vw;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  width: 28vw;
  height: auto;
  border: none;
}

.input-filtros input:focus {
  outline: none;
}


.filtros {
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6vw;
  height: 3vw;
  border: solid 2px #eee;
}

.filtros p {
  font-size: 1vw;
}

.filtros .iconFilter {
  font-size: 1.5vw;
  color: var(--verde);
}


/* Responsividade */

/* Tablets em modo paisagem e dispositivos híbridos */
@media (max-width: 1024px) {
  .menu-topo {
      width: 100vw;
  }
  
      .actions .info-action p {
          font-size: 1.7vw;
        } 
      
        .actions .info-action .action {
          width: 30vw;
          height: 20vw;
          display: flex;
          justify-content: center;
        }
  
        .actions .info-action .action p {
          font-size: 1.7vw;
          width: 50%;
        }

        .actions .info-action .action img {
          width: 12vw;
          height: 11.5vw;
        }
  
        .h1Home {
          font-size: 3vw;
          width: 70%;
        }
  
        .input-filtros input::placeholder {
          font-size: 1.7vw;
        }
  
        .input-filtros input {
          font-size: 1.7vw;
          height: 3.5vw;
        }

        .content-input-busca .btn {
          font-size: 1.7vw;
        }
        .area-servicos {
          width: 100vw;
        }
  
        .input-filtros {
          align-items: center;
          justify-content: space-around;
          width: 100vw;
        }
  
        .filtros {
          width: 11vw;
          height: 5.5vw;
        }
  
        .filtros p {
          font-size: 1.7vw;
        }
  
        .filtros .iconFilter {
          font-size: 3vw;
        }
  
        .sem-profissionais {
          p {
              font-size: 2vw;
          }
      }
}

/* Tablets em modo retrato e smartphones grandes */
@media (max-width: 768px) {
  .menu-topo {
      width: 100vw;
  }
  
      .actions .info-action p {
          font-size: 2vw;
        } 
      
        .actions .info-action .action {
          width: 27vw;
          height: 20vw;
        }
  
        .actions .info-action .action p {
          font-size: 2vw;
          width: 50%;
        }

        .actions .info-action .action img {
          width: 10vw;
          height: 10vw;
        }
  
        .h1Home {
          font-size: 3.8vw;
          width: 100%;
        }
  
        .input-filtros input::placeholder {
          font-size: 2vw;
        }
  
        .input-filtros input {
          font-size: 2vw;
          height: 3vw;
        }

        .content-input-busca .btn {
          font-size: 2vw;
        }
        .area-servicos {
          width: 100vw;
        }
  
        .input-filtros {
          align-items: center;
          justify-content: space-around;
          width: 100vw;
        }
  
        .filtros {
          width: 15vw;
          height: vw;
        }
  
        .filtros p {
          font-size: 2vw;
        }
  
        .filtros .iconFilter {
          font-size: 3vw;
        }
  
        .sem-profissionais {
          p {
              font-size: 2vw;
          }
      }
}

/* Smartphones médios e tablets pequenos */
@media (max-width: 600px) {
  .menu-topo {
      width: 100vw;
  }
  
      .actions .info-action p {
          font-size: 2.3vw;
        } 
      
        .actions .info-action .action {
          width: 27vw;
          height: 20vw;
        }
  
        .actions .info-action .action p {
          font-size: 2.3vw;
          width: 50%;
        }

        .actions .info-action .action img {
          width: 10vw;
          height: 10vw;
        }
  
        .h1Home {
          font-size: 3.5vw;
          width: 100%;
        }
  
        .input-filtros input::placeholder {
          font-size: 2.3vw;
        }
  
        .input-filtros input {
          font-size: 2.3vw;
          height: 4vw;
        }

        .content-input-busca .btn {
          font-size: 2.3vw;
        }
        .area-servicos {
          width: 100vw;
        }
  
        .input-filtros {
          align-items: center;
          justify-content: space-around;
          width: 100vw;
        }
  
        .filtros {
          width: 20vw;
          height: 7vw;
        }
  
        .filtros p {
          font-size: 2.3vw;
        }
  
        .filtros .iconFilter {
          font-size: 4vw;
        }
  
        .sem-profissionais {
          p {
              font-size: 2.3vw;
          }
      }
}

/* Smartphones pequenos */
@media (max-width: 480px) {

.menu-topo {
  width: 100vw;
}

  .actions .info-action p {
      font-size: 2.7vw;
    } 
  
    .actions .info-action .action {
      width: 30vw;
      height: 20vw;
    }

    .actions .info-action .action p {
      font-size: 2.7vw;
      width: 50%;
    }

    .h1Home {
      font-size: 4vw;
      width: 100%;
    }

    .input-filtros input::placeholder {
      font-size: 2.7vw;
    }

    .area-servicos {
      width: 100vw;
    }

    .input-filtros {
      align-items: center;
      justify-content: space-around;
      width: 100vw;
    }

    .input-filtros input { 
     height: auto; 
    }

    .filtros {
      width: 25vw;
      height: 7vw;
    }

    .filtros p {
      font-size: 2.7vw;
    }

    .filtros .iconFilter {
      font-size: 5vw;
    }

    .sem-profissionais {
      p {
          font-size: 2.7vw;
      }
  }
}

/* Smartphones muito pequenos */
@media (max-width: 320px) {

}
