.modal-card-conclua-registro {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 10;
}

.card-conclua-registro {
    display: flex;
    flex-direction: column;
    z-index: 10;
    align-items: center;
    gap: 1vw;
    width: 25vw;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.top-card-conclua-registro {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        text-align: center;
    }

    p {
        margin: 0;
        text-align: center;
        color: #989797;
    }
}

.inputs-card-conclua-registro-cep {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    position: relative;

    .cepError-conluircad {
        font-size: 0.5vw;
        color: red;
        position: absolute;
        margin-left: 0.5vw;
        top: -12px
    }
}

.inputs-card-conclua-registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22vw;
    gap: 1vw;
    

    p {
        margin: 0;
    }

    .grid-2x2-card-conclua-registro {
        display: flex;
        justify-content: center;
        flex-flow: wrap;
        gap: .5vw;

        .padrao-input-card-conclua-registro {
            width: 10vw;
            height: 2vw;
            padding: 3px;
            border-radius: 5px;
            border: none;
            background-color: #eee;
            outline: none;
        }
    }

    .nmr-telefone {
        width: 15vw;
        height: 2vw;
        border: none;
        background-color: #eee;
        border-radius: 5px;
        padding: 3px;
        font-size: 15px;
    }

    .data {
        width: 6vw;
        height: 2vw;
        border: none;
        background-color: #eee;
        border-radius: 5px;
        padding: 3px;
        font-size: 15px;
        font-family: "Inter", sans-serif;
    }

    select {
        width: 8vw;
        height: 2.5vw;
        border: none;
        background-color: #eee;
        border-radius: 5px;
        padding: 3px;
        font-size: 15px;
    }
}

.bottom-card-conclua-registro {
    display: flex;
    width: 20vw;
    justify-content: space-between;
    align-items: center;

    p {
        color: grey;
        cursor: pointer;
    }

    button {
        border: none;
        background-color: #3cbc8c;
        color: white;
        border-radius: 20px;
        font-size: 20px;
        padding: .5vw 1vw .5vw 1vw;
        transition: all .25s ease-in-out;
    }

    button:hover {
        background-color: #144474;
    }
}

/* Responsividade */

/* Tablets em modo paisagem e dispositivos híbridos */
@media (max-width: 1024px) {
    .modal-card-conclua-registro .card-conclua-registro {
        width: 50vw;
    }

    .inputs-card-conclua-registro {
        .nmr-telefone {
            width: 30vw;
            padding: 10px;
            font-size: 2.3vw;
        }

        .data {
            width: 30vw;
            padding: 10px;
            font-size: 2.3vw;
        }

        select {
            width: 30vw;
            height: 4vw;
            font-size: 2.3vw;
        }

        .grid-2x2-card-conclua-registro {
            gap: 2vw;

            .padrao-input-card-conclua-registro {
                width: 34vw;
                padding: 10px;
                font-size: 2.3vw;
            }

            .padrao-input-card-conclua-registro::placeholder {
                font-size: 2.3vw;
            }
        }
    }

    .bottom-card-conclua-registro {
        gap: 2vw;

        p {
            font-size: 2.3vw;
        }

        button {
            font-size: 2.3vw;
            width: 25vw;
            padding: 10px;
        }
    }

    .top-card-conclua-registro h1 {
        font-size: 3.5vw;
    }

    .top-card-conclua-registro p {
        font-size: 2.3vw;
    }

    .inputs-card-conclua-registro {
        font-size: 2.3vw;
    }
}

/* Tablets em modo retrato e smartphones grandes */
@media (max-width: 768px) {
    .modal-card-conclua-registro .card-conclua-registro {
        width: 55vw;
        padding: 7.5px;
    }

    .inputs-card-conclua-registro {
        width: 30vw;

        .nmr-telefone {
            width: 40vw;
            padding: 16.5px;
            font-size: 2.7vw;
        }

        .data {
            width: 40vw;
            padding: 16.5px;
            font-size: 2.7vw;
        }

        select {
            width: 40vw;
            padding: 18px;
            font-size: 2.7vw;
            height: auto;
        }

        .grid-2x2-card-conclua-registro {
            gap: 2vw;

            .padrao-input-card-conclua-registro {
                width: 34vw;
                padding: 15px;
                font-size: 2.7vw;
            }

            .padrao-input-card-conclua-registro::placeholder {
                font-size: 2.7vw;
            }
        }
    }

    .bottom-card-conclua-registro {
        gap: 2vw;

        p {
            font-size: 2.7vw;
        }

        button {
            font-size: 2.7vw;
            width: 25vw;
            padding: 10px;
        }
    }

    .top-card-conclua-registro h1 {
        font-size: 4vw;
    }

    .top-card-conclua-registro p {
        font-size: 2.7vw;
    }

    .inputs-card-conclua-registro {
        font-size: 3vw;
    }
}

/* Smartphones médios e tablets pequenos */
@media (max-width: 600px) {
    .modal-card-conclua-registro .card-conclua-registro {
        width: 60vw;
    }

    .inputs-card-conclua-registro {
        .nmr-telefone {
            width: 40vw;
            padding: 16.5px;
            font-size: 3vw;
        }

        .data {
            width: 40vw;
            padding: 16.5px;
            font-size: 3vw;
        }

        select {
            width: 40vw;
            height: 9vw;
            padding: 18px;
            font-size: 3vw;
        }

        .grid-2x2-card-conclua-registro {
            gap: 2vw;

            .padrao-input-card-conclua-registro {
                width: 34vw;
                padding: 12px;
                font-size: 3vw;
            }

            .padrao-input-card-conclua-registro::placeholder {
                font-size: 3vw;
            }
        }
    }

    .bottom-card-conclua-registro {
        gap: 2vw;

        p {
            font-size: 3vw;
        }

        button {
            font-size: 3vw;
            width: 25vw;
            padding: 10px;
        }
    }

    .top-card-conclua-registro h1 {
        font-size: 4.5vw;
    }

    .top-card-conclua-registro p {
        font-size: 3vw;
    }

    .inputs-card-conclua-registro {
        font-size: 3.5vw;
        width: 35vw;
    }
}

/* Smartphones pequenos */
@media (max-width: 480px) {
    .modal-card-conclua-registro .card-conclua-registro {
        width: 60vw;
        padding: 10px;
    }

    .inputs-card-conclua-registro {
        .nmr-telefone {
            width: 40vw;
            padding: 10.5px;
            font-size: 3.3vw;
        }

        .nmr-telefone::placeholder {
            font-size: 3.3vw;
        }

        .data {
            width: 40vw;
            padding: 10.5px;
            font-size: 3.3vw;
        }

        .data::placeholder {
            font-size: 3.3vw;
        }

        select {
            width: 47vw;
            height: auto;
            font-size: 3.3vw;
        }

        .select {
            font-size: 3.3vw;
        }

        .grid-2x2-card-conclua-registro {
            gap: 2vw;

            .padrao-input-card-conclua-registro {
                width: 34vw;
                padding: 12px;
            }

            .padrao-input-card-conclua-registro::placeholder {
                font-size: 3.3vw;
            }
        }

    }

    .bottom-card-conclua-registro {

        p {
            font-size: 3.3vw;
        }

        button {
            font-size: 3.3vw;
            width: 25vw;
            padding: 8px;
        }
    }

    .top-card-conclua-registro h1 {
        font-size: 4.5vw;
    }

    .top-card-conclua-registro p {
        font-size: 3.3vw;
    }

    .inputs-card-conclua-registro {
        font-size: 3.3vw;
    }
}

/* Smartphones muito pequenos */
@media (max-width: 320px) {}