/*CARD*/

.card-servico {
    display: flex;
    justify-content: space-around;
    width: 55vw;
    height: auto;
    border: solid 1px black;
    border-radius: 25px;
}

.star {
    display: flex;
    width: 200vw;
}

.ri-star-s-fill {
    color: #d9d9d9;
    margin: 0;
}

.ava {
    color: var(--verde);
}

h2 {
    margin: 0;
}

.emblemas {
    display: flex;
    gap: 0.8vw;
}

.content-desc {
    height: auto;
}

.emblemas img {
    width: 2vw;
    height: 2vw;
}


.contrate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.serv-realizados {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 1vw;
}

.serv-realizados img {
    width: 30px;
    height: 30px;
}


.desc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin: 0;
}

.desc.expandido {
    -webkit-line-clamp: initial;
}


.vma-vme {
    cursor: pointer;
    color: var(--azul);
}


.modal-avaliar {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 33vw;
    text-align: center;
    position: relative;
  }
  
  .modal-avaliar h3 {
    color: var(--verde);
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .modal-avaliar p {
    font-size: 16px;
    color: #666;
  }
  
  .comentario-textarea {
    width: 27vw;
    height: 8vw;
    margin: 10px  0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    resize: none;
    font: arial;
  }
  
  .close-modal-avaliar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    color: white;
    background-color: var(--verde);
    cursor: pointer;
  }

  .submit-button-avaliar {
    border-radius: 4px;
    background: #3CBC8C;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s;
  }
  
  .submit-button-avaliar:hover {
    background-color: var(--azul);
  }

  .card-servico-ativo-profissional-footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .submit-button-card{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: #3CBC8C;
    color: white;
    width: 100px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s;
  }

  .confirm-icon {
    width: 7vw;
    height: 7vw;
    color: var(--verde);
  }

  