.conteudo-config-perfil {
    width: 60vw;
    padding: 10px;
    position: relative;
}

cabecalho-editar .img-config-perfil {
    width: 130px;
    height: 130px;
    object-fit: contain;
    border-radius: 50%;
}

.cabecalho-editar button {
    width: 7.5vw;
    height: 2vw;
    font-weight: bold;
    background-color: var(--verde);
    color: white;
    border: none;
    border-radius: 15px;
}

.sessao-config {
    background-color: #EEEEEE;
    padding: 53px;
    gap: 5vh;
    display: flex;
    flex-direction: column;
}


.edit-infoPessoais {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
}

.edit-infoPessoais h3 {
    font-size: 1.1rem;
    color: gray;
}

.edit-infoPessoais .input-pessoais {
    display: flex;
    gap: 2vw;
    margin: 10px;
}

.edit-infoPessoais .input-pessoais .input-nome-num p {
    font-weight: bold;
}

.edit-infoPessoais .input-pessoais .input-nome-num input {
    padding: 6.5px;
    border-radius: 5px;
    width: 15vw;
}

.edit-infoPessoais .input-pessoais .input-email-local p {
    font-weight: bold;
}

.edit-infoPessoais .input-pessoais .input-email-local input {
    padding: 6.5px;
    border-radius: 5px;
    width: 15vw;
}

.edit-perfil {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
}

.edit-perfil h3 {
    font-size: 1.1rem;
    color: gray;
}


.edit-perfil p {
    color: var(--verde);
    font-weight: bold;
}

.edit-perfil .profissoes {
    display: flex;
    gap: 2vw;
    align-items: center;
}

.edit-perfil .profissao {
    padding: 11px;
    border-radius: 10px;
    background-color: #d9d9d9;
    width: 8vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-perfil .profissao-add {
    padding: 11px;
    border-radius: 100%;
    background-color: #d9d9d9;
    width: 2vw;
    height: 2vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-assinatura {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
}

.edit-assinatura {
    display: flex;
    flex-direction: column;
}

.edit-assinatura .planos {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 6vh;
    margin-top: 6vh;
}

.edit-assinatura .planos #plano {
    background: #d9d9d9;
    padding: 10px;
    border-radius: 15px;
}

.edit-assinatura .planos #atualizar {
    color: var(--verde);
    font-weight: bold;
}

.edit-assinatura .cartao {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    width: 25vw;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    margin: 1vw;
}

.edit-assinatura .add-cartao {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    width: 25vw;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    margin: 1vw;
    gap: 1vw;
}

.edit-assinatura .add-cartao .add-cartao-novo {
    padding: 11px;
    border-radius: 100%;
    background-color: #d9d9d9;
    width: 2.5vw;
    height: 2.5vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}


.edit-seguranca {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    gap: 1vw;
    display: flex;
    flex-direction: column;
}

.edit-seguranca p {
    color: gray;
    font-weight: bold;
}

.edit-seguranca .alt-senha {
    display: flex;
    gap: 1vw;
    align-items: center;
}

.edit-seguranca .alt-senha input {
    padding: 6.5px;
    border-radius: 5px;
    width: 15vw;
    height: 1vw;
}

.edit-seguranca .sair-excluirBtn {
    display: flex;
    gap: 2vw;
}

.edit-seguranca .sair-excluirBtn #sair {
    width: 10vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
}

.edit-seguranca .sair-excluirBtn #excluir {
    width: 10vw;
    height: 3vw;
    color: red;
    background-color: white;
    border: 1px solid red;
    border-radius: 5px;
}


/* Responsividade */

/* Tablets em modo paisagem e dispositivos híbridos */
@media (max-width: 1025px) {

    .conteudo-config-perfil {
        width: 70vw;
    }

    .img-config-perfil {
        width: 11vw;
        height: 11vw;
    }

    .sessao-config {
        align-items: center;
    }

    .edit-infoPessoais {
        width: 57vw;
        padding: 10px;
    }

    .header-edit-info-pessoais h2 {
        font-size: 3vw;
    }

    .edit-infoPessoais h3 {
        font-size: 2.5vw;
    }

    .header-edit-info-pessoais button {
        font-size: 2.3vw;
        width: 18vw;
        height: 5vw;
        margin-right: 10vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .edit-infoPessoais .input-pessoais .input-nome-num p {
        font-size: 2.3vw;
    }

    .edit-infoPessoais .input-pessoais .input-nome-num span {
        font-size: 2.3vw;
    }

    .edit-infoPessoais .input-pessoais .input-email-local p {
        font-size: 2.3vw;
    }

    .edit-infoPessoais .input-pessoais .input-email-local span {
        font-size: 2.3vw;
    }

    .edit-infoPessoais .input-pessoais .input-nome-num input {
        font-size: 2.3vw;
        width: 24vw;
    }

    .edit-infoPessoais .input-pessoais .input-email-local input {
        font-size: 2.3vw;
        width: 24vw;
    }

    .edit-info-endereco-principal {
        width: 57vw;
        padding: 10px;
    }

    .edit-info-endereco-principal .leftPostar.leftPostar-de-config h2 {
        font-size: 3vw;
    }

    .leftPostar.leftPostar-de-config .container .componente-content-input {
        width: 20vw;
    }

    .componente-content-input-config-cep {
        width: 18vw;
        height: 4vw;
        font-size: 2.3vw;
    }

    .componente-content-input-config-cidade {
        width: 29vw;
        height: 4vw;
        font-size: 2.3vw;
    }

    .componente-content-input-config-bairro {
        width: 24vw;
        height: 4vw;
        font-size: 2.3vw;
    }

    .componente-content-input-config-rua {
        width: 25vw;
        height: 4vw;
        font-size: 2.3vw;
    }

    .componente-content-input-config-residencia {
        width: 16vw;
        height: 4vw;
        font-size: 2.3vw;
    }

    .componente-content-input-config-complemento {
        width: 20vw;
        height: 4vw;
        font-size: 2.3vw;
    }

    .componente-content-input-config-complemento {
        width: 22vw;
        height: 4vw;
        font-size: 2.3vw;
    }

    .edit-seguranca {
        width: 57vw;
        padding: 10px;
    }

    .edit-seguranca h2 {
        font-size: 3vw;
    }

    .edit-seguranca p {
        font-size: 2.3vw;
    }

    .edit-seguranca .alt-senha input {
        width: 24vw;
        height: 4vw;
        padding: 0px;
        font-size: 2.7vw;
    }

    .edit-seguranca .sair-excluirBtn #sair {
        font-size: 2.3vw;
        width: 18vw;
        height: 4vw;
    }

    .edit-seguranca .sair-excluirBtn #excluir {
        font-size: 2.3vw;
        width: 18vw;
        height: 4vw;
    }
}

/* Tablets em modo retrato e smartphones grandes */
@media (max-width: 768px) {

    .conteudo-config-perfil {
        width: 75vw;
    }

    .img-config-perfil {
        width: 14vw;
        height: 14vw;
    }

    .sessao-config {
        align-items: center;
    }

    .edit-infoPessoais {
        width: 60vw;
        padding: 15px;
    }

    .header-edit-info-pessoais h2 {
        font-size: 3.5vw;
    }

    .edit-infoPessoais h3 {
        font-size: 3vw;
    }

    .header-edit-info-pessoais button {
        font-size: 2.7vw;
        width: 17vw;
        height: 5vw;
        margin-right: 9vw;
    }

    .edit-infoPessoais .input-pessoais .input-nome-num p {
        font-size: 2.7vw;
    }

    .edit-infoPessoais .input-pessoais .input-nome-num span {
        font-size: 2.7vw;
    }

    .edit-infoPessoais .input-pessoais .input-email-local p {
        font-size: 2.7vw;
    }

    .edit-infoPessoais .input-pessoais .input-email-local span {
        font-size: 2.7vw;
    }

    .edit-infoPessoais .input-pessoais .input-nome-num input {
        font-size: 2.7vw;
        width: 20vw;
    }

    .edit-infoPessoais .input-pessoais .input-email-local input {
        font-size: 2.7vw;
        width: 20vw;
    }

    .edit-info-endereco-principal {
        width: 60vw;
        padding: 10px;
    }

    .edit-info-endereco-principal .leftPostar.leftPostar-de-config h2 {
        font-size: 3.5vw;
    }

    .leftPostar.leftPostar-de-config .container .componente-content-input {
        width: 20vw;
    }

    .componente-content-input-config-cep {
        width: 20vw;
        height: 3vw;
        font-size: 2.7vw;
    }

    .componente-content-input-config-cidade {
        width: 33vw;
        height: 3vw;
        font-size: 2.7vw;
    }

    .componente-content-input-config-bairro {
        width: 25vw;
        height: 3vw;
        font-size: 2.7vw;
    }

    .componente-content-input-config-rua {
        width: 24vw;
        height: 3vw;
        font-size: 2.7vw;
    }

    .componente-content-input-config-residencia {
        width: 14vw;
        height: 3vw;
        font-size: 2.7vw;
    }

    .componente-content-input-config-complemento {
        width: 22vw;
        height: 3vw;
        font-size: 2.7vw;
    }

    .componente-content-input-config-complemento {
        width: 23vw;
        height: 3vw;
        font-size: 2.7vw;
    }

    .edit-seguranca {
        width: 60vw;
        padding: 15px;
    }

    .edit-seguranca h2 {
        font-size: 3.5vw;
    }

    .edit-seguranca p {
        font-size: 2.7vw;
    }

    .edit-seguranca .alt-senha input {
        width: 20vw;
        height: 3vw;
        padding: 0px;
        font-size: 2.7vw;
    }

    .edit-seguranca .sair-excluirBtn #sair {
        font-size: 2.7vw;
        width: 17vw;
        height: 4vw;
    }

    .edit-seguranca .sair-excluirBtn #excluir {
        font-size: 2.7vw;
        width: 17vw;
        height: 4vw;
    }
}

/* Smartphones médios e tablets pequenos */
@media (max-width: 600px) {

    .conteudo-config-perfil {
        width: 75vw;
    }

    .img-config-perfil {
        width: 14vw;
        height: 14vw;
    }

    .sessao-config {
        align-items: center;
    }

    .edit-infoPessoais {
        width: 60vw;
        padding: 15px;
    }

    .header-edit-info-pessoais h2 {
        font-size: 4vw;
    }

    .edit-infoPessoais h3 {
        font-size: 3.5vw;
    }

    .header-edit-info-pessoais button {
        font-size: 3vw;
        width: 22vw;
        height: 5.25vw;
        margin-right: 6vw;
    }

    .edit-infoPessoais .input-pessoais .input-nome-num p {
        font-size: 3vw;
    }

    .edit-infoPessoais .input-pessoais .input-nome-num span {
        font-size: 3vw;
    }

    .edit-infoPessoais .input-pessoais .input-email-local p {
        font-size: 3vw;
    }

    .edit-infoPessoais .input-pessoais .input-email-local span {
        font-size: 3vw;
    }

    .edit-infoPessoais .input-pessoais .input-nome-num input {
        height: 2vw;
        font-size: 3vw;
        width: 23vw;
    }

    .edit-infoPessoais .input-pessoais .input-email-local input {
        height: 2vw;
        font-size: 3vw;
        width: 23vw;
    }

    .edit-info-endereco-principal {
        width: 60vw;
        padding: 10px;
    }

    .edit-info-endereco-principal .leftPostar.leftPostar-de-config h2 {
        font-size: 4vw;
    }

    .leftPostar.leftPostar-de-config .container .componente-content-input {
        width: 20vw;
    }

    .componente-content-input-config-cep {
        width: 20vw;
        height: 3vw;
        font-size: 3vw;
    }

    .componente-content-input-config-cidade {
        width: 33vw;
        height: 3vw;
        font-size: 3vw;
    }

    .componente-content-input-config-bairro {
        width: 27vw;
        height: 3vw;
        font-size: 3vw;
    }

    .componente-content-input-config-rua {
        width: 25vw;
        height: 3vw;
        font-size: 3vw;
    }

    .componente-content-input-config-residencia {
        width: 10vw;
        height: 3vw;
        font-size: 3vw;
    }

    .componente-content-input-config-complemento {
        width: 20vw;
        height: 2.5vw;
        font-size: 3vw;
    }

    .edit-seguranca {
        width: 60vw;
        padding: 15px;
    }

    .edit-seguranca h2 {
        font-size: 4vw;
    }

    .edit-seguranca p {
        font-size: 3vw;
    }

    .edit-seguranca .alt-senha input {
        width: 20vw;
        height: 3vw;
        padding: 0px;
    }

    .edit-seguranca .sair-excluirBtn #sair {
        font-size: 3vw;
        width: 20vw;
        height: 5vw;
    }

    .edit-seguranca .sair-excluirBtn #excluir {
        font-size: 3vw;
        width: 20vw;
        height: 5vw;
    }
}

/* Smartphones pequenos */
@media (max-width: 480px) {

    .sessao-config {
        padding: 30px;
    }

    .conteudo-config-perfil {
        width: 75vw;
    }

    .img-config-perfil {
        width: 17vw;
        height: 17vw;
    }

    .sessao-config {
        align-items: center;
    }

    .edit-infoPessoais {
        width: 60vw;
        padding: 15px;
    }

    .header-edit-info-pessoais h2 {
        font-size: 4vw;
    }

    .edit-infoPessoais h3 {
        font-size: 3.5vw;
    }

    .header-edit-info-pessoais button {
        font-size: 3.3vw;
        width: 25vw;
        height: 5vw;
    }

    .edit-infoPessoais .input-pessoais .input-nome-num p {
        font-size: 3.3vw;
    }

    .edit-infoPessoais .input-pessoais .input-nome-num span {
        font-size: 3.3vw;
    }

    .edit-infoPessoais .input-pessoais .input-email-local p {
        font-size: 3.3vw;
    }

    .edit-infoPessoais .input-pessoais .input-email-local span {
        font-size: 3.3vw;
    }

    .edit-infoPessoais .input-pessoais .input-nome-num input {
        height: 2vw;

    }

    .edit-infoPessoais .input-pessoais .input-email-local input {
        height: 2vw;
    }

    .edit-info-endereco-principal {
        width: 60vw;
        padding: 15px;
    }

    .edit-info-endereco-principal .leftPostar.leftPostar-de-config h2 {
        font-size: 4vw;
    }

    .leftPostar.leftPostar-de-config .container .componente-content-input {
        width: 20vw;
    }

    .componente-content-input-config-cep {
        width: 20vw;
        height: 3vw;
        font-size: 3.3vw;
    }

    .componente-content-input-config-cidade {
        width: 33vw;
        height: 3vw;
        font-size: 3.3vw;
    }

    .componente-content-input-config-bairro {
        width: 27vw;
        height: 3vw;
        font-size: 3.3vw;
    }

    .componente-content-input-config-rua {
        width: 25vw;
        height: 3vw;
        font-size: 3.3vw;
    }

    .componente-content-input-config-residencia {
        width: 10vw;
        height: 3vw;
        font-size: 3.3vw;
    }

    .componente-content-input-config-complemento {
        width: 20vw;
        height: 3vw;
        font-size: 3.3vw;
    }

    .edit-seguranca {
        width: 60vw;
        padding: 15px;
    }

    .edit-seguranca h2 {
        font-size: 4vw;
    }

    .edit-seguranca p {
        font-size: 3.3vw;
    }

    .edit-seguranca .alt-senha input {
        width: 30vw;
        height: 4vw;
        padding: 0px;
    }

    .edit-seguranca .sair-excluirBtn #sair {
        font-size: 3.3vw;
        width: 25vw;
        height: 5vw;
    }

    .edit-seguranca .sair-excluirBtn #excluir {
        font-size: 3.3vw;
        width: 25vw;
        height: 5vw;
    }
}

/* Smartphones muito pequenos */
@media (max-width: 320px) {}