:root {
    --verde: #3cbc8c;
    --azul: #144474;
    --verde-claro: #E8FFF7;
}

.menu-topo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75vw;
    margin-bottom: 3vw;
    margin-top: 5vh;
}

.actions {
    cursor: pointer;
    display: flex;
}

.actions .info-action {
    display: flex;
    flex-direction: column;
}

.actions .info-action p {
    font-size: 1vw;
}

.actions .info-action .action {
    display: flex;
    flex-direction: row;
    width: 20vw;
    height: 10vw;
    background-color: var(--verde-claro);
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
}


.actions .info-action .action p {
    width: 7vw;
    font-size: 1vw;
    color: var(--verde);
}

.actions .info-action .action img {
    width: 5vw;
    height: 5vw;
}

.menu-profissionais {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 82vw;
}

.encontre-prof-p-seu-problema {
    font-size: 1.3vw;
    width: 22vw;
    color: var(--verde);
    text-align: center;
    margin-bottom: 3vw;
}

/*Fazendo sessao input*/

.input-filtros {
    display: flex;
    justify-content: space-between;
    width: 55vw;
}

.input-filtros input {
    margin-left: 0.5vw;
    font-size: 0.99vw;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    width: 28vw;
    height: auto;
    border: none;
}

.input-filtros input:focus {
    outline: none;
}

.content-input {
    padding-left: 0.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32vw;
    height: 3vw;
    border: solid 1px #000000;
    border-radius: 16px;
}

.filtros {
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6vw;
    height: 3vw;
    border: solid 2px #eee;
}

.filtros p {
    font-size: 1vw;
}

.content-input i {
    color: var(--verde);
    font-size: 1.4vw;
    margin-left: 5px;
}

/*Fazendo Cards Servicos*/

.card-servicoProfissa h2 {
    font-size: 1.4rem;
    margin-bottom: 3.5vh;
}

.card-servicoProfissa p {
font-size: 12px;
}

.card-servicoProfissa {
margin: 20px;
border: 1px solid black;
padding: 10px;
border-radius: 10px;
width: 52vw;
padding-left: 0px;
padding-top: 0px;
padding-right: 0px;
display: flex;
justify-content: flex-start;
}

.card-servicoProfissa .icon-sucesso {
background-color: #3cbc8c;
height: 8vh;
border-top-left-radius: 10px;
border-bottom-right-radius: 40px;
padding: 9px;
display: flex;
align-items: center;
}

.card-servicoProfissa .icon-sucesso img {
width: 4vw;
height: 7vh;
margin: 8px;
}

.card-servicoProfissa .desc-servico-usuario {
    width: 25vw;
    margin: 15px;
    display: flex;
    flex-direction: column;
    }


.card-servicoProfissa .info-usuario {
display: flex;
flex-direction: column;
}

.card-servicoProfissa .info-usuario .avaliacao {
    display: flex;
    gap: 5px;
    align-items: center;
    }

.card-servicoProfissa .info-usuario .avaliacao #perfil {
    width: 4vw;
    height: 7vh;
}

.card-servicoProfissa .info-usuario .avaliacao #estrela {
width: 2vw;
height: 3vh;
}

.card-servicoProfissa .btn-distancia {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 10vw;
}

.card-servicoProfissa .btn-distancia button {
align-self: flex-end;
width: 7vw;
height: 7vh;
border-radius: 20px;
border: none ;
background-color: #3cbc8c;
color: white;
font-weight: bolder;
font-size: 1.2rem;
}

.card-servicoProfissa .btn-distancia .distancia {
display: flex;
gap: 7px;
font-weight: bolder;
align-items: center;
}

.card-servicoProfissa .btn-distancia .distancia p {
    font-size: 1.3rem;
}


.card-servicoProfissa .chat-cancelar {
display: flex;
justify-content: space-between;
width: 35vw;
align-items: flex-end;
height: 7vh;
}

.card-servicoProfissa .chat-cancelar #finalizar {
    background-color: var(--verde);
    color: white;
    width: 7vw;
    height: 5vh;
    font-size: 1.1rem;
    border: none;
    }

.card-servicoProfissa .chat-cancelar #chat {
background-color: var(--verde);
color: white;
width: 7vw;
height: 5vh;
font-size: 1.1rem;
border: none;
}

.card-servicoProfissa .double-button {
width: 25vw;
height: 20vh;
display: flex;
flex-direction: column;
align-items: flex-end;
}

.card-servicoProfissa .double-button #ver-mais {
    width: 7vw;
    height: 7vh;
    border-radius: 20px;
    border: none ;
    background-color: #3cbc8c;
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
    align-self: center;
}

.card-servicoProfissa .double-button a{
    align-self: center;
}

.card-servicoProfissa .double-button #valor {
    width: 7vw;
    height: 7vh;
    border-bottom-left-radius: 40px;
    border: none ;
    background-color: #3cbc8c;
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
    border-top-right-radius: 10px;
}

.card-servicoProfissa .chat-cancelar #cancelar {
    background-color: white;
    color: red;
    width: 7vw;
    height: 5vh;
    font-size: 1.1rem;
    border: 2px solid red;
}

/* Responsividade */

/* Tablets em modo paisagem e dispositivos híbridos */
@media (max-width: 1025px) {
    .menu-topo {
        width: 100vw;
    }
    
        .actions .info-action p {
            font-size: 1.7vw;
          } 
        
          .actions .info-action .action {
            width: 30vw;
            height: 20vw;
            display: flex;
            justify-content: center;
          }
    
          .actions .info-action .action p {
            font-size: 1.7vw;
            width: 50%;
          }

          .actions .info-action .action img {
            width: 12vw;
            height: 11.5vw;
          }
    
          .h1Home {
            font-size: 3vw;
            width: 70%;
          }
    
          .input-filtros input::placeholder {
            font-size: 1.7vw;
          }
    
          .input-filtros input {
            font-size: 1.7vw;
            height: 3.5vw;
          }

          .content-input-busca .btn {
            font-size: 1.7vw;
          }
          .area-servicos {
            width: 100vw;
            padding: 0;
          }
    
          .input-filtros {
            align-items: center;
            justify-content: space-around;
            width: 100vw;
          }
    
          .filtros {
            width: 11vw;
            height: 5.5vw;
          }
    
          .filtros p {
            font-size: 1.7vw;
          }
    
          .filtros .iconFilter {
            font-size: 3vw;
          }
    
          .sem-profissionais {
            p {
                font-size: 2vw;
            }
        }
}

/* Tablets em modo retrato e smartphones grandes */
@media (max-width: 768px) {
    .menu-topo {
        width: 100vw;
    }
    
        .actions .info-action p {
            font-size: 2vw;
          } 
        
          .actions .info-action .action {
            width: 27vw;
            height: 20vw;
          }
    
          .actions .info-action .action p {
            font-size: 2vw;
            width: 50%;
          }

          .actions .info-action .action img {
            width: 10vw;
            height: 10vw;
          }
    
          .h1Home {
            font-size: 3.8vw;
            width: 100%;
          }
    
          .input-filtros input::placeholder {
            font-size: 2vw;
          }
    
          .input-filtros input {
            font-size: 2vw;
            height: 3vw;
          }

          .content-input-busca .btn {
            font-size: 2vw;
          }
          .area-servicos {
            width: 100vw;
          }
    
          .input-filtros {
            align-items: center;
            justify-content: space-around;
            width: 100vw;
          }
    
          .filtros {
            width: 15vw;
            height: vw;
          }
    
          .filtros p {
            font-size: 2vw;
          }
    
          .filtros .iconFilter {
            font-size: 3vw;
          }
    
          .sem-profissionais {
            p {
                font-size: 2vw;
            }
        }
}

/* Smartphones médios e tablets pequenos */
@media (max-width: 600px) {
    .menu-topo {
        width: 100vw;
    }
    
        .actions .info-action p {
            font-size: 2.3vw;
          } 
        
          .actions .info-action .action {
            width: 27vw;
            height: 20vw;
          }
    
          .actions .info-action .action p {
            font-size: 2.3vw;
            width: 50%;
          }

          .actions .info-action .action img {
            width: 10vw;
            height: 10vw;
          }
    
          .h1Home {
            font-size: 3.5vw;
            width: 100%;
          }
    
          .input-filtros input::placeholder {
            font-size: 2.3vw;
          }
    
          .input-filtros input {
            font-size: 2.3vw;
            height: 4vw;
          }

          .content-input-busca .btn {
            font-size: 2.3vw;
          }
          .area-servicos {
            width: 100vw;
          }
    
          .input-filtros {
            align-items: center;
            justify-content: space-around;
            width: 100vw;
          }
    
          .filtros {
            width: 20vw;
            height: 7vw;
          }
    
          .filtros p {
            font-size: 2.3vw;
          }
    
          .filtros .iconFilter {
            font-size: 4vw;
          }
    
          .sem-profissionais {
            p {
                font-size: 2.3vw;
            }
        }
}

/* Smartphones pequenos */
@media (max-width: 480px) {

.menu-topo {
    width: 100vw;
}

    .actions .info-action p {
        font-size: 2.7vw;
      } 
    
      .actions .info-action .action {
        width: 30vw;
        height: 20vw;
      }

      .actions .info-action .action p {
        font-size: 2.7vw;
        width: 50%;
      }

      .h1Home {
        font-size: 4vw;
        width: 100%;
      }

      .input-filtros input::placeholder {
        font-size: 2.7vw;
      }

      .area-servicos {
        width: 100vw;
      }

      .input-filtros {
        align-items: center;
        justify-content: space-around;
        width: 100vw;
      }

      .input-filtros input { 
       height: auto; 
      }

      .filtros {
        width: 25vw;
        height: 7vw;
      }

      .filtros p {
        font-size: 2.7vw;
      }

      .filtros .iconFilter {
        font-size: 5vw;
      }

      .sem-profissionais {
        p {
            font-size: 2.7vw;
        }
    }
}

/* Smartphones muito pequenos */
@media (max-width: 320px) {

}
