.content-display-cropper {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}

.content-display-cropper img {
   
}

.label-input-img-cropper {
    
}

.input-img-cropper {
    display: none;
}

.icon-label-input-img-cropper {
    color: var(--verde );
    font-size: 1.5vw;
    
}