:root {
  --verde: #3cbc8c;
  --azul: #144474;
  --verde-claro: #e8fff7;
}

.componente-content-input {
  width: 32vw;
  height: 5vw;
  font-size: 1.4vw;
  outline: none;
  font-size: 1vw;
  font-family: 'Inter';
  resize: none;
  background-color: #eee;
  border: none;
  padding: .5vw .5vw .5vw 0;
  border: solid 2px #eee;
  border-radius: 5px;
  padding-left: 6px;
}

.componente-content-input:focus {
  border: solid 2px black;
}