:root {
  --verde: #3cbc8c;
  --azul: #144474;
  --verde-claro: #e8fff7;
}

.content-input-busca {
  padding-left: 0.3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32vw;
  height: 3vw;
  border: solid 2px #eee;
  background-color: white;
  border-radius: 10px;
  color: var(--verde);
  font-size: 1.4vw;
  margin-left: 5px;
}

.btn {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--verde);
  color: #ffffff;
  border: none;
  width: 7vw;
  height: 100%;
  border-radius: 0 10px 10px 0;
  font-size: 1vw;
  transition: all 0.5s ease;
}


.content-input-busca .iconSearch {
  color: var(--verde);
  font-size: 2vw;
  margin-left: 5px;
}

.btn {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--verde);
  color: #ffffff;
  border: none;
  width: 7vw;
  height: 100%;
  border-radius: 0 10px 10px 0;
  font-size: 1vw;
  transition: all 0.5s ease;
  cursor: pointer;
}


.content-input-busca .iconSearch {
  color: var(--verde);
  font-size: 2vw;
  margin-left: 5px;
}



/* Responsividade */

/* Tablets em modo paisagem e dispositivos híbridos */
@media (max-width: 1024px) {
  .content-input-busca {
    width: 49vw;
    height: 4vw;
    display: flex;
    align-items: flex-end;
  }

  .content-input-busca .iconSearch {
    font-size: 3.5vw;
    margin-left: 5px;
    margin-right: 1vw;
    align-self: center;
  }

  .left-banner input {
    padding: 5px 15px;
  }

  .left-banner input::placeholder,
  .left-banner input[type="text"] {
    font-size: 1.8vw;
  }

  .content-input-busca .btn {
    width: 11vw;
    font-size: 1.8vw;
  }
}

/* Tablets em modo retrato e smartphones grandes */
@media (max-width: 768px) {
  .content-input-busca {
    width: 46vw;
    height: 5vw;
  }

  .content-input-busca input {
    padding: 6px 15px;
  }

    .left-banner .btn {
      font-size: 2vw;
      width: 11vw;
    }
 
  .left-banner input {
      width: 25vw;
  }

  .left-banner input::placeholder,
  .left-banner input[type="text"] {
    font-size: 2vw;
  }

  .content-input-busca .iconSearch {
    font-size: 4vw;
  }
}

/* Smartphones médios e tablets pequenos */
@media (max-width: 600px) {
  .content-input-busca {
    width: 55vw;
    height: 6vw;
  }

  .content-input-busca .iconSearch {
    font-size: 3.5vw;
    margin-left: 5px;
    margin-right: 1vw;
  }

  .left-banner input::placeholder,
  .left-banner input[type="text"] {
    font-size: 2.7vw;
  }

  .content-input-busca .btn {
    width: 16vw;
    font-size: 2.7vw;
  }

  .content-input-busca input {
    padding: 5px 13px;
  }
}

/* Smartphones pequenos */
@media (max-width: 480px) {
  .content-input-busca {
    width: 55vw;
    height: 6vw;
  }

  .content-input-busca .iconSearch {
    font-size: 3.5vw;
    margin-left: 5px;
    margin-right: 1vw;
  }

  .left-banner input::placeholder,
  .left-banner input[type="text"] {
    font-size: 2.5vw;
  }

  .content-input-busca .btn {
    width: 13vw;
    font-size: 2.7vw;
  }

  .content-input-busca input {
    padding: 5.5px 15px;
  }

}

/* Smartphones muito pequenos */
@media (max-width: 320px) {
  .content-input-busca input {
    padding: 3px 15px;
  }

  .content-input-busca {
    width: 55vw;
    height: 7vw;
  }

  .content-input-busca .iconSearch {
    font-size: 3.5vw;
    margin-left: 2px;
    margin-right: 1vw;
  }

  .left-banner input::placeholder,
  .left-banner input[type="text"] {
    font-size: 2.5vw;
  }

  .content-input-busca .btn {
    width: 12vw;
    font-size: 2.5vw;
  }

  .content-input-busca input {
    padding: 5.5px 15px;
  }

}

