@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Mono:wght@600&display=swap');

:root {
  --verde: #3cbc8c;
  --azul: #144474;
  --verde-claro: #E8FFF7;
}

.content-favoritos {
  display: flex;
  flex-direction: column;
  width: 70vw;
  background-color: #f4f4f4;
}

.header-favoritos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-favoritos h2 {
  font-size: 24px;
  color: #333;
}

.input-procurar {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 8px;
  padding: 5px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-procurar input {
  border: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
}

.input-procurar i {
  font-size: 20px;
  color: #333;
  margin-left: 10px;
}

.lista-favoritos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-favorito {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  p {
    font-size: 20px;
  }
}

.info-favorito {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.img-perfil-favoritos {
  width: 5vw;
 
  border-radius: 50%;
  margin-right: 10px;
}

.acoes-favorito {
  display: flex;
  gap: 10px;
}

.btn-favoritar,
.btn-chat,
.btn-servico {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  color: #333;
  transition: color 0.3s;
}

.btn-favoritar {
  color: var(--verde);
}

.btn-favoritar:hover,
.btn-chat:hover,
.btn-servico:hover {
  color: var(--verde);
}

.mensagem-vazia {
  font-size: 18px;
  color: #777;
  text-align: center;
}