.chat-container {
    display: flex;
    height: 40vw;
    gap: 2vw;
    background-color: #eee;
    padding: 20px;
    border-radius: 15px;
}

.chat-list {
    width: 22vw;
    height: inherit;
    background-color: rgb(255, 255, 255);
    border-radius: 15px 0 0 15px;
    overflow: hidden;
}

.chat-list>h3 {
    position: absolute;
    font-size: 1.7vw;
    margin: 0;
    background-color: white;
    border-bottom: solid 5px var(--verde);
    border-radius: 15px 0 0 0;
    padding: 20px;
    width: 20vw;
}

.chats-actives {
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: 34vw;
    flex-direction: column;
    gap: 1vw;
    margin-top: 100px;
}

.message-box {
    width: 19vw;
    border-bottom: solid 3px var(--verde);
    padding: 5px;
}

.chat-box {
    width: 44vw;
    height: inherit;
    border-radius: 20px;
    background: #FFF;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.chat-header {
    display: flex;
    align-items: center;
    padding: 5px;
    width: inherit;
    height: 5vw;
    border-bottom: solid 3px #eee;
}

.chat-main {
    height: 30vw;
    overflow: hidden;
    overflow-y: scroll;
}

/*css a mais*/

.container-chats-criados {
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    overflow-y: scroll;
    border-left: solid 4px #eee;
    border-top: solid 4px #eEe;
}
