.container-nenhum-chat-selecionado {
    width: 44vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nenhum-chat-selecionado {
    font-size: 1.5vw;
}

.chat-header{
  gap: 1vw;
}

.chat-header .img-profissional {
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 50%;
}


.chat-header .user-online{
  background-color: var(--verde);
  margin-right: 20px;
  border-radius: 10px;
  padding: 5px;
  color: white;
}

.chat-header .chat-header-img-name{
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 15px;
}

.chat-main {
  width: inherit;
  padding: 15px;
}

.mensagens-chat-main {
    padding: 15px;
    width: 42vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.msg-enviada {
    align-self: flex-end; /* Alinha à direita */
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: #eee;
    width: auto;
    max-width: 25vw;
    padding: 20px;
    border-radius: 10px;
}

.msg-recebida {
    align-self: flex-start; /* Alinha à esquerda */
    display: flex;
    flex-direction: column;
    align-items: start; /* Alinha o conteúdo à esquerda */
    background-color: #eee;
    width: auto;
    max-width: 25vw;
    padding: 20px;
    border-radius: 10px;
}

.msg-mensagens-chat-main {
    font-size: 1vw;
    word-break: break-all;
    padding: 10px;
}

.time-mensagens-chat-main {
    color: grey;
}

.chat-sub {
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
}

.message-chat{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.messageBox {
    width: fit-content;
    height: 2.3vw;
    width: 36vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fdfdfd;
    border-radius: 10px;
    border: 1px solid rgb(63, 63, 63);
  }
  .messageBox:focus-within {
    border: 1px solid rgb(110, 110, 110);
  }

  #messageInput {
    width: 30vw;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    padding-left: 10px;
    color: rgb(0, 0, 0);
    font-size: 1vw;
  }
  #messageInput:focus ~ #sendButton svg path,
  #messageInput:valid ~ #sendButton svg path {
    fill: #3c3c3c;
  }
  
  #sendButton {
    width: fit-content;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
  }
  #sendButton svg {
    height: 1.3vw;
    transition: all 0.3s;
  }
  #sendButton svg path {
    transition: all 0.3s;
  }
  #sendButton:hover svg path {
    fill: #3c3c3c;
  }

  .img-balao  {
    width: 10vw;
    height: 10vw;
  }

  .chat-box h3{
    font-size: 1.5vw;
    font-weight: 400;
  }
  