.navHomenav {
  font-size: 1.5vw;
  height: 80px;
  padding-left: 25px;
  padding-right: 25px;
}

.img-logo {
  width: 8vw;
  height: 3vw;
}

.navHomeUl {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navHomeLi {
  font-size: 30px;
}

.navHomeLi.white {
  font-weight: bolder;
  color: white;
}
.subContainerNavHome {
  display: flex;
  gap: 20px;
  align-items: center;
}
.navHomeLi.btnNavHome {
  font-weight: bolder;
  background-color: white;
  color: var(--verde);
  padding: 15px;
  border-radius: 50px;
  font-size: 23px;
}
