body {
  margin: 0;
  overflow-x: hidden;
}

.beneficios {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 250px 0;
  gap: 100px;
}

.banner {
  display: flex;
  align-items: center;
}

.img-banner {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  width: 38vw;
  height: 43vw;
}

.left-banner {
  padding-top: 10vw;
  padding-bottom: 6vw;
  padding-left: 3vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.left-banner input {
  margin-left: 0.5vw;
  font-size: 0.99vw;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  width: 28vw;
  height: auto;
  border: none;
}

.left-banner button:hover {
  background-color: var(--azul);
}

.left-banner button {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--verde);
  color: #ffffff;
  border: none;
  width: 7vw;
  height: 100%;
  border-radius: 0 10px 10px 0;
  font-size: 1vw;
  transition: all 0.5s ease;
}

.left-banner input:focus {
  outline: none;
  color: black;
}

.left-banner .h1Landing {
  color: black;
  width: 40vw;
  font-size: 3.5vw;
  text-align: left;
}

.left-banner strong {
  background: linear-gradient(to right, var(--verde), var(--azul));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: underline;
}


/* Responsividade */

/* Tablets em modo paisagem e dispositivos híbridos */
@media (max-width: 1024px) {
 
  .left-banner .h1Landing {
    font-size: 3.75vw;
  }
 
  .animation2 {
    margin: 12vw 0;
  }
  
  .conteudo-animation2 {
    margin: 3vw;
    margin-right: 5vw;
  }

  .hidden2.show1 {
    width: 28vw;
    height: 34vw;
  }

  .hidden1.show1 {
    width: 32vw;
    margin-right: 3vw;
    margin-left: 1vw;
  }

  .hidden1.show1 h2 {
    font-size: 3vw;
  }

  .hidden1.show1 p {
    font-size:  2.3vw;
  }

  .hidden1.show1 a {
    width: 26vw;
    font-size: 2.3vw;
  }

  /*sessao benefits*/

  
  .beneficios h3 {
    font-size: 2.7vw;
  }

  .show {
    width: 20vw;
    align-items: center;
  }

  .show h2 {
    font-size: 2.3vw;
  }

  .review,
  .high-five {
    width: 14vw;
    height: 14vw;
  }

  .show1 h2 {
    font-size: 2.3vw;
  }

  .show1 p {
    font-size: 2.3vw;
  }
/*carrosselSwiper*/

.header-siwpper h2 {
  font-size: 3vw;
}

.left-carrossel p {
  font-size: 2.3vw;
}

.card-carrossel {
  width: 20vw;
  height: 28vw;
}

.swiper-slide .card-carrossel p {
  font-size: 2.3vw;
}

.swiper-slide .card-carrossel .btn-buscar {
  width: 14vw;
  height: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide .card-carrossel .btn-buscar a {
  font-size: 2.3vw;
}
}

/* Tablets em modo retrato e smartphones grandes */
@media (max-width: 768px) {
  .left-banner .h1Landing {
    width: 48vw;
    font-size: 4vw;
}
  .conteudo-animation2 {
    margin: 3vw;
    margin-right: 5vw;
  }

  .hidden2.show1 {
    width: 26vw;
    height: 33vw;
  }

  .hidden1.show1 {
    width: 37vw;
    margin-right: 3vw;
    margin-left: 1vw;
  }

  .hidden1.show1 h2 {
    font-size: 3.5vw;
  }

  .hidden1.show1 p {
    font-size: 2.7vw;
  }

  .hidden1.show1 a {
    width: 30vw;
    font-size: 2.7vw;
  }
  /*sessao benefits*/

  .show {
    width: 20vw;
    align-items: center;
  }

  .show h2 {
    font-size: 2.7vw;
  }

  .review,
  .high-five {
    width: 14vw;
    height: 14vw;
  }

  .show1 h2 {
    font-size: 3.5vw;
  }

  .show1 p {
    font-size: 2.7vw;
  }

  .show1 a {
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 1100ms;
    padding: 2vw;
    font-size: 2.7vw;
  }

  /*carrosselswiper*/

  
  .btns-swipper {
    gap: 4vw;
  }



  .header-siwpper h2 {
    font-size: 3.5vw;
  }


  .left-carrossel .carrossel-btn p {
    font-size: 2.7vw;
  }

  .card-carrossel {
    width: 20vw;
    height: 30vw;
  }


  .swiper-slide .card-carrossel p {
    font-size: 2.3vw;
  }

  .swiper-slide .card-carrossel .btn-buscar {
    width: 15vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-carrossel .btn-buscar a {
    font-size: 2.7vw;
  }

}

/* Smartphones médios e tablets pequenos */
@media (max-width: 600px) {
  .left-banner .h1Landing {
    font-size: 4.5vw;
  }
  .conteudo-animation2 {
    margin: 3vw;
    margin-right: 1vw;
  }

  .hidden2.show1 {
    width: 26vw;
    height: 36vw;
  }

  .hidden1.show1 {
    width: 42vw;
    margin-right: 3vw;
    margin-left: 1vw;
  }

  .hidden1.show1 h2 {
    font-size: 4vw;
  }

  .hidden1.show1 p {
    font-size: 3vw;
  }

  .hidden1.show1 a {
    width: 35vw;
    font-size: 3vw;
  }

  /*sessao benefits*/
  

  .beneficios h3 {
    font-size: 3.5vw;
  }
  
  .show {
    width: 20vw;
    align-items: center;
  }

  .show h2 {
    font-size: 3vw;
  }

  .review,
  .high-five {
    width: 14vw;
    height: 14vw;
  }

  .show1 h2 {
    font-size: 4vw;
  }

  .show1 p {
    font-size: 3vw;
  }

  .show1 a {
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 1100ms;
    padding: 2vw;
    font-size: 3vw;
  }
  
  /*carrosselswiper*/


  .left-carrossel .carrossel-btn p {
    font-size: 3vw;
  }
  .card-carrossel {
    width: 20vw;
    height: 36vw;
}

.swiper-slide .card-carrossel p {
  font-size: 3vw;
}

.swiper-slide .card-carrossel .btn-buscar a {
  font-size: 3vw;
}

}

/* Smartphones pequenos */
@media (max-width: 480px) {
  .left-banner .h1Landing {
    width: 56vw;
    font-size: 5vw;
  }

  .conteudo-animation2 {
    margin: 5vw;
    margin-right: 5vw;
  }

  .hidden2.show1 {
    width: 25vw;
    height: 36vw;
  }

  .hidden1.show1 {
    width: 47vw;
    margin-right: 3vw;
    margin-left: 1vw;
  }

  .hidden1.show1 h2 {
    font-size: 4vw;
  }

  .hidden1.show1 p {
    font-size: 3.3vw;
  }

  .hidden1.show1 a {
    width: 38vw;
    font-size: 3.3vw;
  }
  /*sessao benefits*/

  .beneficios h3 {
    font-size: 3.75vw;
  }

  .show {
    width: 20vw;
    align-items: center;
  }

  .show h2 {
    font-size: 3vw;
  }

  .review {
    width: 20vw;
    height: 18vw;
  }

  .high-five {
    width: 16vw;
    height: 15vw;
  }

  .show1 h2 {
    font-size: 3.75vw;
  }

  .show1 p {
    font-size: 1.8vw;
  }


  /*carrosselswiper*/

  .header-siwpper h2 {
    font-size: 4vw;
    
  }
  .btns-swipper {
    gap: 7vw;
  }

  .card-carrossel {
    width: 20vw;
    height: 40vw;
  }

  .left-carrossel .carrossel-btn p {
    font-size: 2.7vw;
  }

  .swiper-slide .card-carrossel p {
    font-size: 3.3vw;
  }

  .swiper-slide .card-carrossel .btn-buscar {
    width: 11vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide .card-carrossel .btn-buscar a {
    font-size: 3.3vw;
  }

  .left-carrossel .carrossel-btn p {
    font-size: 3.3vw;
  }
}


/*Smartphones pequenos*/

@media screen and (max-width: 360px){
  
}

/* Smartphones extremamente pequenos */
@media (max-width: 320px) {
  .conteudo-animation2 {
    margin: 3vw;
    margin-right: 3vw;
  }

  .hidden2.show1 {
    width: 30vw;
    height: 32vw;
  }

  .hidden1.show1 {
    width: 30vw;
    margin-right: 3vw;
    margin-left: 1vw;
  }

  .hidden1.show1 h2 {
    font-size: 4vw;
  }

  .hidden1.show1 p {
    font-size: 2.8vw;
  }

  .hidden1.show1 a {
    width: 30vw;
    font-size: 2.3vw;
  }
  /*sessao benefits*/
}