body {
  margin: 0;
  overflow-x: hidden;
}

.banner {
  display: flex;
  align-items: center;
}

.img-banner {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  width: 38vw;
  height: 43vw;
}

.left-banner {
  padding-top: 10vw;
  padding-bottom: 6vw;
  padding-left: 3vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.left-banner input {
  margin-left: 0.5vw;
  font-size: 0.99vw;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  width: 28vw;
  height: auto;
  border: none;
}

.left-banner button:hover {
  background-color: var(--azul);
}

.left-banner button {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--verde);
  color: #ffffff;
  border: none;
  width: 7vw;
  height: 100%;
  border-radius: 0 10px 10px 0;
  font-size: 1vw;
  transition: all 0.5s ease;
}

.left-banner input:focus {
  outline: none;
  color: black;
}

.left-banner .h1Landing {
  color: black;
  width: 40vw;
  font-size: 3vw;
  text-align: left;
}

.left-banner strong {
  background: linear-gradient(to right, var(--verde), var(--azul));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: underline;
}

@media screen and (max-width: 420px){

  /*Sessao banner*/

  .left-banner .h1Landing {
    width: 41vw;
    font-size: 4vw;
  }
}


@media screen and (max-width: 770px) {
  .left-banner .h1Landing {
    width: 48vw;
    font-size: 4.5vw;
}
}

