.content-midia {
    display: flex;
    justify-content: flex-end;

}

.main-content {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 82vw;
    margin-top: 5vw;
}

.connected-bar {
    display: none;
    width: 0.5vw;
    height: 0.5vw;
    border-radius: 50%;
    background-color: var(--verde);
}

.sidebarCliente {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 85vh;
    width: 18vw;
    position: fixed;
    font-size: 1vw;
    bottom: 0;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.sidebarCliente a {
    text-decoration: none;
    color: black;
}

.option {
    display: flex;
    flex-direction: row;
    gap: 0.8vw;
    align-items: center;
    cursor: pointer;
    width: fit-content;
    padding-left: 1vw;
}

.option i {
    font-size: 1.2vw;
}

/* =carde do perfil final da tela*/

.card-perfil-bottom {
    display: flex;
    bottom: 0;
    width: 12vw;
    height: 4vw;
    padding: 1vw;
    background-color: var(--azul);
    border-radius: 0 1vw 0 0 ;
}