.content-midia {
    display: flex;
    justify-content: flex-end;
}

.connected-bar {
    display: none;
    width: 0.5vw;
    height: 0.5vw;
    border-radius: 50%;
    background-color: var(--verde);
}

.sidebarCliente {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 76vh;
    margin-left: 14px;
    width: 18vw;
    margin-top: 7.5vw;
    position: fixed;
    font-size: 1vw;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}
 .sidebarCliente a{
    text-decoration: none;
    color: black;
}

.option {
    display: flex;
    flex-direction: row;
    gap: 0.8vw;
    align-items: center;
    cursor:pointer;
    width: fit-content;
    
}
.option i{
    font-size: 1.2vw;
}