body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/*Inicio Menu*/

.menu-profissa {
  position: relative;
}

.nav-profissa {
  font-size: 1.5vw;
  height: 80px;
  padding-left: 25px;
  padding-right: 30px;
}

.img-logoProfissa {
  width: 8vw;
  height: 3vw;

}

.navprofissaUl {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navprofissaLi {
  font-size: 1.5vw;
}

.subContainerNavProfissa {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navprofissaLi.btnNavProfissa {
  font-weight: bolder;
  background-color: white;
  color: #144474;
  padding: 15px;
  border-radius: 50px;
  font-size: 23px;
  box-shadow: 0px 4px 6px 0px #00000042;
  transition: ease-in-out 0.5s;
}

.navprofissaLi.btnNavProfissa:hover {
  background-color: #144474;
  color: white;
  box-shadow: 0px 4px 8px 5px #00000042;
}


/*Criando icon do menu hamburguer*/

.hamburguer {
  border: none;
  background: none;
  border-top: 4px solid black;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 29px;
  top: 30px;
  display: none;
  width: 40px;
}

.hamburguer::before,
.hamburguer::after {
  /*adiciona dois elementos em volta pra fazer os outros dois traços*/
  content: " ";
  display: block;
  width: 40px;
  height: 4px;
  background-color: black;
  margin-top: 4px;
  position: relative;
}

.hamburguer::before,
.hamburguer::after .active {
  background-color: white;
  /* Altera a cor das linhas ao ativar o menu */
}


.navprofissaLiTxtextra {
  display: none;
}


/*Fim Menu e Início banner*/

.bannerProfissa {
  background-image: url('../../assets/bannerProfissional.png');
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
}

.bannerProfissa .EduardoBanner {
  width: 30vw;
  align-self: flex-end;
}

.bannerProfissa .btn-txtBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.bannerProfissa .btn-txtBanner button {
  width: 12vw;
  height: 3vw;
  border-radius: 50vw;
  background-color: white;
  color: var(--azul);
  border: none;
  font-weight: bolder;
  font-size: 1.1rem;
  transition-duration: 0.5s;
}

.bannerProfissa .btn-txtBanner button:hover {
  background-color: var(--verde);
  color: white;
}

.bannerProfissa .btn-txtBanner .title-banner {
  font-size: 2.5rem;
  width: 26.5vw;
  color: white;
  text-align: center;
}

.lalezar-regular {
  font-family: "Lalezar", system-ui;
  font-weight: 400;
  font-style: normal;
}

/*Fim sessao banner e inicio sessao beneficios*/

.beneficios>h1 {
  font-size: 1.8rem;
  color: #144474;
}

.beneficios .beneficios-img {
  display: flex;
  gap: 16vw;

}

.beneficios .beneficios-img .txt-beneficios {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5vh;
  justify-content: center;
}

.beneficios .beneficios-img .txt-beneficios h2 {
  font-size: 1.5rem;
  color: #144474;
}

.beneficios .beneficios-img .txt-beneficios p {
  font-size: 1.1rem;
}

.beneficios .txt-beneficios .beneficios-cards {
  display: flex;
  width: 18vw;
  align-items: center;
  gap: 2vw;
}

.carrossel-Profissional {
  display: none;
}

/*Fim da sesao beneficios e inicio sessao planos*/
/*Card 1*/

.planos {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
  margin-bottom: 10vh;
}


.planos .cards-planos {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}

.planos .cards-planos .card-plano {
  width: 22vw;
  border: 1px solid #888888;
  border-radius: 20px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.card-plano p {
  font-size: 1.2rem;
}

.card-plano h3 {
  font-size: 1.6rem;
}

.card-plano hr {
  border: 1px solid rgba(0, 0, 0, 0.616);
  margin-top: 1.25vw;
  margin-bottom: 1.25vw;
  width: 20vw;
}

.card-plano #gray-hr {
  margin-top: 2vw;
  margin-bottom: 2vw;
  color: gray;
}

.card-plano #preco {
  font-size: 3.6rem;
  font-weight: bolder;
  margin: 20px;
}

.card-plano #preco span {
  color: rgba(0, 0, 0, 0.671);
  font-weight: lighter;
  font-size: 2.5rem;
}

.card-plano button {
  width: 20vw;
  padding: 15px;
  border-radius: 5px;
  background-color: white;
  font-weight: bolder;
  font-size: 1.3rem;
  align-self: center;
  transition: .5s;
}

.card-plano button:hover {
  background-color: black;
  color: white;
}

.card-plano .beneficios-plano {
  align-self: center;
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-left: 0;
  margin-right: 0;
}

.card-plano .beneficios-plano img {
  width: 2vw;
  height: 2vw;
}

/* Responsividade */
/*Desktops de tela maior*/

@media screen and (max-width: 1600px) {
  /*Arrumando sessao banner*/

  .bannerProfissa .btn-txtBanner .title-banner {
    width: 45.5vw;
  }

  .bannerProfissa .btn-txtBanner button {
    width: 14vw;
    height: 4vw;
  }

  /*Arrumando sessao beneficios*/

  .beneficios {
    margin: 100px 0;
  }

  .beneficios .beneficios-img .txt-beneficios h2 {
    font-size: 1.3rem;
  }

  .beneficios .beneficios-img .txt-beneficios p {
    font-size: 0.9rem;
  }

  /*Arrumando sessao planos*/
  .planos .cards-planos .card-plano {
    width: 26vw;
  }

  .planos .cards-planos .card-plano hr {
    width: 25vw;
  }

  .planos .cards-planos .card-plano button {
    width: 25vw;
    height: 4vw;
  }
}

/*laptops e desktops tela de menor*/
@media screen and (max-width: 1200px) {
  .bannerProfissa .btn-txtBanner .title-banner {
    width: 45.5vw;
  }

  .bannerProfissa .btn-txtBanner button {
    width: 14vw;
    height: 4vw;
  }

  /*Arrumando sessao beneficios*/

  .beneficios {
    margin: 100px 0;
  }

  .beneficios .beneficios-img .txt-beneficios h2 {
    font-size: 1.3rem;
  }

  .beneficios .beneficios-img .txt-beneficios p {
    font-size: 0.9rem;
  }

  /*Arrumando sessao planos*/
  .planos .cards-planos .card-plano {
    width: 26vw;
  }

  .planos .cards-planos .card-plano hr {
    width: 25vw;
  }

  .planos .cards-planos .card-plano button {
    width: 25vw;
    height: 4vw;
  }

  .hamburguer {
    display: block;
    /*ocupa todo o espaço*/
  }

  .navprofissaUl {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    background-color: #144474;
    clip-path: circle(100px at 90% -15%);
    /*esconde la encima*/
    transition: 1s ease-out;
    /* Adicionando transição */
    width: 100vw;
    height: 100vh;
    gap: 0;
    pointer-events: none;
    position: fixed;
    margin-top: 0;
  }

  .navprofissaUl.active {
    /* Altura máxima do menu é a altura total da tela */
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
    position: fixed;
    overflow: visible;

  }

  .navprofissaLiTxtextra {
    display: block;
  }

  .hamburguer.active {
    position: fixed;
    border-top-color: transparent;
  }

  .hamburguer.active::before {
    transform: rotate(135deg);
  }

  .hamburguer.active::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .navprofissaLi.btnNavProfissa {
    display: none;
  }

  .navprofissaLi img {
    display: none;
  }


  .navprofissaUl.active .navHomeA::nth-child(1) {
    transition: 0.5s 0.2s;
    color: white;
  }

  .navprofissaUl.active .navHomeA::nth-child(2) {
    transition: 0.5s 0.4s;
    color: white;
  }

  .navprofissaUl.active .navHomeA::nth-child(3) {
    transition: 0.5s 0.6s;
    color: white;
  }

  .nav-profissa {
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-right: 25px;
  }
}

/* Tablets em modo paisagem e dispositivos híbridos */
@media (max-width: 1024px) {
  /*Arrumando sessao banner*/

  .bannerProfissa .btn-txtBanner .title-banner {
    font-size: 3.5vw;
    width: 45.5vw;
  }

  .bannerProfissa .btn-txtBanner button {
    width: 20vw;
    height: 5vw;
    font-size: 2vw;
  }

  /*Arrumando sessao beneficios*/

  .beneficios {
    margin: 10px 0;
  }

  .beneficios .beneficios-img {
    flex-direction: column;
  }

  .beneficios .txt-beneficios .beneficios-cards img {
    width: 12vw;
}

  .beneficios>h1 {
    font-size:  3.5vw;
  }

  .beneficios .beneficios-img img {
    width: 45vw;
  }

  .beneficios .beneficios-img .txt-beneficios h2 {
    font-size: 3vw;
  }

  .beneficios .beneficios-img .txt-beneficios p {
    font-size: 2vw;
  }

  /*Arrumando sessao planos*/


  .planos>h2 {
    font-size: 3vw;
  }

  .planos .cards-planos {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }

/*Sessao cards*/

.planos .cards-planos .card-plano {
  width: 45vw;
}

.planos .cards-planos {
  gap: 5vw;
}

.card-plano h3 {
  font-size: 2.7vw;
}

.card-plano p {
  font-size: 2vw;
}

.planos .cards-planos .card-plano hr {
  width: 42vw;
}

.planos .cards-planos .card-plano button {
  width: 42vw;
  height: 6.5vw;
}

.card-plano .beneficios-plano img {
  width: 4vw;
  height: 4vw;
}

.card-plano #preco {
  font-size: 3.5vw;
}

.card-plano #preco span {
  font-size: 2.5vw;
}
}

/* Tablets em modo retrato e smartphones grandes */
@media (max-width: 768px) {
  /*Arrumando sessao banner*/

  .bannerProfissa .btn-txtBanner .title-banner {
    font-size: 4vw;
    width: 45.5vw;
  }

  .bannerProfissa .btn-txtBanner button {
    width: 23vw;
    height: 7vw;
    font-size: 2.5vw;
  }

  /*Arrumando sessao beneficios*/

  .beneficios .beneficios-img {
    flex-direction: column;
  }

  .beneficios>h1 {
    font-size: 4vw;
  }

  .beneficios .beneficios-img img {
    width: 60vw;
  }

  .beneficios .beneficios-img .txt-beneficios h2 {
    font-size: 3.5vw;
  }

  .beneficios .beneficios-img .txt-beneficios p {
    font-size: 2.5vw;
  }

  .beneficios .txt-beneficios .beneficios-cards {
    gap: 3.5vw;
  }

  /*Arrumando sessao planos*/


  .planos>h2 {
    font-size: 3.5vw;
  }

  .planos .cards-planos {
    gap: 5vw;
  }

  .planos .cards-planos .card-plano {
    width: 50vw;
  }

  .card-plano h3 {
    font-size: 3.75vw;
  }

  .card-plano p {
    font-size: 2.7vw;
  }

  .card-plano #preco {
    font-size: 5.5vw;
  }

  .planos .cards-planos .card-plano hr {
    width: 45vw;
  }

  .card-plano #gray-hr {
    margin-top: 5vw;
  }

  .planos .cards-planos .card-plano button {
    width: 48vw;
    height: 8vw;
  }

  .card-plano .beneficios-plano img {
    width: 5vw;
    height: 5vw;
  }

  .btn-card-plano-op {
    width: 28vw;
    height: 7vw;
    font-size: 2.5vw;
  }

  .planos .cards-planos .card-plano .card-superior>p {
    font-size: 2.5vw;
  }
}

/* Smartphones médios e tablets pequenos */
@media (max-width: 600px) {

  /*Arrumando sessao banner*/
  .bannerProfissa .btn-txtBanner .title-banner {
    font-size: 5vw;
    width: 50vw;
  }

  .bannerProfissa .btn-txtBanner button {
    width: 28vw;
    height: 7vw;
    font-size: 3vw;
  }

  /*Arrumando sessao beneficios*/

  .beneficios {
    margin: 25px 0;
    gap: 30px;
  }

  .beneficios .beneficios-img {
    flex-direction: column;
  }

  .beneficios>h1 {
    font-size: 5vw;
  }

  .beneficios .beneficios-img img {
    width: 60vw;
  }

  .beneficios .beneficios-img .txt-beneficios h2 {
    font-size: 4.5vw;
  }

  .beneficios .beneficios-img .txt-beneficios p {
    font-size: 3vw;
  }

  .beneficios .txt-beneficios .beneficios-cards img {
    width: 10vw;
  }

  /*Arrumando sessao planos*/


  .planos>h2 {
    font-size: 4.5vw;
  }

  .planos .cards-planos {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 5vw;
  }

  .planos .cards-planos .card-plano {
    width: 58vw;
  }

  .card-plano h3 {
    font-size: 3.75vw;
  }

  .card-plano p {
    font-size: 3vw;
  }

  .planos .cards-planos .card-plano hr {
    width: 58vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
  }

  .card-plano #gray-hr {
    width: 58vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
  }

  .card-plano #preco {
    font-size: 3.3vw;
  }

  .card-plano #preco span {
    font-size: 3vw;
  }

  .planos .cards-planos .card-plano button {
    width: 43vw;
    height: 3vw;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Smartphones pequenos */
@media (max-width: 480px) {
  /*Arrumando sessao banner*/

  .bannerProfissa .btn-txtBanner .title-banner {
    font-size: 5vw;
    width: 50vw;
  }

  .bannerProfissa .btn-txtBanner button {
    width: 28vw;
    height: 7vw;
    font-size: 3vw;
  }

  /*Arrumando sessao beneficios*/

  .beneficios {
    margin: 25px 0;
    gap: 30px;
  }

  .beneficios .beneficios-img {
    flex-direction: column;
  }

  .beneficios>h1 {
    font-size: 5vw;
  }

  .beneficios .beneficios-img img {
    width: 60vw;
  }

  .beneficios .beneficios-img .txt-beneficios h2 {
    font-size: 4.5vw;
  }

  .beneficios .beneficios-img .txt-beneficios p {
    font-size: 3vw;
  }

  /*Arrumando sessao planos*/


  .planos>h2 {
    font-size: 4.5vw;
  }

  .planos .cards-planos {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 5vw;
  }

  .planos .cards-planos .card-plano {
    width: 58vw;
  }

  .card-plano h3 {
    font-size: 3.75vw;
  }

  .card-plano p {
    font-size: 3vw;
  }

  .planos .cards-planos .card-plano hr {
    width: 58vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
  }

  .card-plano #gray-hr {
    width: 58vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
  }

  .card-plano #preco {
    font-size: 6.3vw;
  }

  .card-plano #preco span {
    font-size: 3vw;
  }

  .planos .cards-planos .card-plano button {
    width: 43vw;
    height: 3vw;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

/* Smartphones muito pequenos */
@media (max-width: 320px) {
  /*Arrumando sessao banner*/

  .bannerProfissa .btn-txtBanner .title-banner {
    font-size: 4.5vw;
    width: 45.5vw;
  }

  .bannerProfissa .btn-txtBanner button {
    width: 23vw;
    height: 7vw;
    font-size: 2.5vw;
  }

  /*Arrumando sessao beneficios*/

  .beneficios .beneficios-img {
    flex-direction: column;
  }

  .beneficios>h1 {
    font-size: 4.5vw;
  }

  .beneficios .beneficios-img img {
    width: 52vw;
  }

  .beneficios .txt-beneficios .beneficios-cards {
    gap: 3vw;
  }

  .beneficios .txt-beneficios .beneficios-cards img {
    width: 8vw;
  }

  .beneficios .beneficios-img .txt-beneficios h2 {
    font-size: 4vw;
  }

  .beneficios .beneficios-img .txt-beneficios p {
    font-size: 2.7vw;
  }

  /*Arrumando sessao planos*/


  .planos>h2 {
    font-size: 4vw;
  }

  .planos .cards-planos {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }

  .card-plano h3 {
    font-size: 3.75vw;
  }

  .card-plano p {
    font-size: 2.7vw;
  }

  .card-plano #preco {
    font-size: 5.5vw;
  }

  .planos .cards-planos .card-plano button {
    width: 64vw;
    height: 2vw;
  }

  .card-plano .beneficios-plano img {
    width: 5vw;
    height: 5vw;
  }

  .btn-card-plano-op {
    width: 28vw;
    height: 7vw;
    font-size: 0.9rem;
  }

  .planos .cards-planos .card-plano .card-superior>p {
    font-size: 1rem;
  }
}