body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/*Inicio Menu*/

.nav-profissa {
  font-size: 1.5vw;
  height: 80px;
  padding-left: 25px;
  padding-right: 25px;
}


.img-logoProfissa {
  width: 8vw;
  height: 3vw;
}

.navprofissaUl {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navprofissaLi {
  font-size: 1.5vw;
}

.subContainerNavProfissa {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navprofissaLi.btnNavProfissa {
  font-weight: bolder;
  background-color: white;
  color: #144474;
  padding: 15px;
  border-radius: 50px;
  font-size: 23px;
  box-shadow: 0px 4px 6px 0px #00000042
}

/*Fim Menu e Início banner*/

.bannerProfissa {
  background-image: url('../../assets/bannerProfissional.png');
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
}

.bannerProfissa .EduardoBanner {
  width: 30vw;
  align-self: flex-end;
}

.bannerProfissa .btn-txtBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.bannerProfissa .btn-txtBanner button {
  width: 15vw;
  height: 2.5vw;
  border-radius: 20px;
  background-color: var(--verde);
  color: white;
  border: none;
  font-weight: bolder;
  font-size: 1.1rem;
  transition-duration: 0.5s;
}

.bannerProfissa .btn-txtBanner button:hover {
  background-color: #144474;
}

.bannerProfissa .btn-txtBanner .title-banner {
  font-size: 2.5rem;
  width: 26.5vw;
  color: white;
  display: flex;
}

.lalezar-regular {
  font-family: "Lalezar", system-ui;
  font-weight: 400;
  font-style: normal;
}

/*Fim sessao banner e inicio sessao beneficios*/

.beneficios>h1 {
  font-size: 1.8rem;
  color: #144474;
  width: 100%;
  line-height: 6.3vh;
}

.beneficios .beneficios-img {
  display: flex;
  gap: 16vw;

}

.beneficios .beneficios-img .txt-beneficios {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5vh;
  justify-content: center;
}

.beneficios .beneficios-img .txt-beneficios h2 {
  font-size: 1.5rem;
  color: #144474;
}

.beneficios .beneficios-img .txt-beneficios p {
  font-size: 1.1rem;
}

.beneficios .txt-beneficios .beneficios-cards {
  display: flex;
  width: 18vw;
  align-items: center;
  justify-content: space-between;
}

/*Fim da sesao beneficios e inicio sessao planos*/
/*Card 1*/

.planos {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
  margin-bottom: 10vh;
}

.card-plano {
  display: flex;
  padding: 1vw;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.24);
  border-radius: 20px;
  width: 20vw;
  flex-direction: column;
  justify-content: space-between;
}

.planos .cards-planos {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.planos .cards-planos .card-plano .card-superior .gratis p {
  font-size: 1.4rem;
  font-weight: bolder;
}

.planos .cards-planos .card-plano .card-superior #vantagens-txt {
  font-weight: lighter;
  color: gray;
  font-size: 1.1rem;
}

.list-beneficios .beneficio {
  display: flex;
  align-items: center;
}

.list-beneficios .beneficio p {
  font-size: 1.4rem;
  font-weight: bolder;
}

.card-superior {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-inferior {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Card 2*/

.valor-do-plano {
  font-weight: bolder;
  font-size: 1.7rem;
  color: black;

  strong {
    font-weight: lighter;
    color: gray;
  }
}

/*Card 3*/

.planos .cards-planos .card-plano .card-superior>p {
  font-size: 1.4rem;
  font-weight: bolder;
}

.planos .cards-planos .card-plano .card-superior #vantagens-txt {
  font-weight: lighter;
  color: gray;
  font-size: 1.1rem;
}

.planos .cards-planos .card-plano .button {
  align-self: center;
  background-color: #144474;
  width: 15vw;
  padding: 15px;
  color: white;
  font-weight: bolder;
  font-size: 1rem;
}

.btn-card-plano-op {
  color: white;
  width: 12vw;
  font-size: .9vw;
  background-color: var(--azul);
  border: none;
  padding: 1vw;
  border-radius: 1.5vw;
  transition: all .25s;
}

.btn-card-plano-op:hover {
  background-color: var(--verde);
}

@media screen and (max-width: 376px) {

  /*Arrumando Menu*/
  .navprofissaUl {
    display: none;
  }

  /*Arrumando banner*/
  .bannerProfissa .btn-txtBanner .title-banner {
    font-size: 0.9rem;
    width: 39.5vw;
  }

  .bannerProfissa .btn-txtBanner button {
    width: 19vw;
    height: 5.5vw;
    font-size: 0.6rem;
  }

  /*Arrumando sessao beneficios*/

  .beneficios .beneficios-img {
    flex-direction: column;
  }

  .beneficios>h1 {
    font-size: 1.1rem;
    line-height: 3.3vh;
  }

  .beneficios .beneficios-img .txt-beneficios h2 {
    font-size: 1rem;
  }

  .beneficios-img>img {
    width: 60vw;
    height: 40vw;
  }

  .beneficios .txt-beneficios .beneficios-cards img {
    width: 5vw;
    height: 5vw;
  }

  .beneficios .txt-beneficios .beneficios-cards {
    gap: 2vw;
  }

  .beneficios .beneficios-img .txt-beneficios p {
    font-size: 0.6rem;
  }

  /*Arrumando sessao planos*/

  .planos>h2 {
    font-size: 1rem;
  }

  .planos .cards-planos {
    flex-direction: column;
    align-items: center;
    gap: 4vh;
  }

  .card-plano {
    width: 38vw;
    padding: 10px;
    height: 59vw;
  }

  .planos .cards-planos .card-plano .card-superior .gratis p {
    font-size: 0.7rem;
  }

  .planos .cards-planos .card-plano .card-superior #vantagens-txt {
    font-size: 0.6rem;
  }

  .list-beneficios .beneficio {
    gap: 2vw;
  }

  .list-beneficios .beneficio p {
    font-size: 0.6rem;
  }

  .list-beneficios .beneficio img {
    width: 5vw;
    height: 5vw;
  }

  .valor-do-plano {
    font-size: 0.6rem;
  }

  .btn-card-plano-op {
    width: 29vw;
    font-size: 0.6rem;
    padding: 1vw;
    height: 3vh;
  }

  .planos .cards-planos .card-plano .card-superior>p {
    font-size: 0.4rem;
  }


  /*Arrumando Footer*/

footer {
  padding: 2vw;
}

  footer img {
    width: 20vw;
    height: 8vw;
  }

  h6 {
    font-size: 0.7rem;
    margin: 4vw;
  }

  .termos a, .sobre a {
    font-size: 0.6rem;
    margin: 1vw;
  }
}




@media screen and (max-width: 415px) {

  /*Arrumando Menu*/
  .navprofissaUl {
    display: none;
  }

  /*Arrumando banner*/
  .bannerProfissa .btn-txtBanner .title-banner {
    font-size: 1.2rem;
    width: 49.5vw;
  }

  .bannerProfissa .btn-txtBanner button {
    width: 26vw;
    height: 7.5vw;
    font-size: 0.85rem;
  }

  /*Arrumando sessao beneficios*/

  .beneficios .beneficios-img {
    flex-direction: column;
  }

  .beneficios>h1 {
    font-size: 1.2rem;
    line-height: 2.3vh;
  }

  .beneficios .beneficios-img .txt-beneficios h2 {
    font-size: 1rem;
  }

  .beneficios-img>img {
    width: 60vw;
    height: 40vw;
  }

  .beneficios .txt-beneficios .beneficios-cards img {
    width: 5vw;
    height: 5vw;
  }

  .beneficios .txt-beneficios .beneficios-cards {
    gap: 2vw;
  }

  .beneficios .beneficios-img .txt-beneficios p {
    font-size: 0.6rem;
  }

  /*Arrumando sessao planos*/

  .planos>h2 {
    font-size: 1rem;
  }

  .planos .cards-planos {
    flex-direction: column;
    align-items: center;
    gap: 4vh;
  }

  .card-plano {
    width: 38vw;
    padding: 10px;
    height: 59vw;
  }

  .planos .cards-planos .card-plano .card-superior .gratis p {
    font-size: 0.7rem;
  }

  .planos .cards-planos .card-plano .card-superior #vantagens-txt {
    font-size: 0.6rem;
  }

  .list-beneficios .beneficio {
    gap: 2vw;
  }

  .list-beneficios .beneficio p {
    font-size: 0.6rem;
  }

  .list-beneficios .beneficio img {
    width: 5vw;
    height: 5vw;
  }

  .valor-do-plano {
    font-size: 0.6rem;
  }

  .btn-card-plano-op {
    width: 29vw;
    font-size: 0.6rem;
    padding: 1vw;
    height: 3vh;
  }

  .planos .cards-planos .card-plano .card-superior>p {
    font-size: 0.4rem;
  }


  /*Arrumando Footer*/

footer {
  padding: 2vw;
}

  footer img {
    width: 20vw;
    height: 8vw;
  }

  h6 {
    font-size: 0.7rem;
    margin: 4vw;
  }

  .termos a, .sobre a {
    font-size: 0.6rem;
    margin: 1vw;
  }
}