/* passwordStrength.css */

.modal-password{
  position: absolute;
  z-index: 1000;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  bottom: 30px;
  left: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.password-strength-container h4 {
  margin: 0 0 10px;
  font-size: 13px;
  color: #333;
}

.password-strength {
  list-style: none;
  padding: 0;
  margin: 0;
}

.password-strength li {
  display: flex;
  flex-wrap: nowrap;
  gap: 2px;
  align-items: center;
  font-size: 10px;
  color: #666;
}


.password-strength .valid {
  display: flex;
  flex-wrap: nowrap;
}

.password-strength .valid {
  color: #4caf50;
  margin: 0;

}

.password-strength .invalid .icon {
  color: #adadad;
}
