/* passwordStrength.css */




.password-strength-container h4 {
  margin: 0 0 10px;
  font-size: 13px;
  color: #333;
}

.password-strength {
  list-style: none;
  padding: 0;
  margin: 0;
}

.password-strength li {
  display: flex;
  align-items: center;
  margin: 5px 0;
  font-size: 11px;
  color: #666;
}

.password-strength .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 12px;
}

.password-strength .valid .icon {
  background-color: #4caf50; /* Green */
  color: #fff;
}

.password-strength .invalid .icon {
  background-color: #f44336; /* Red */
  color: #fff;
}
