.card-visualizar {
    width: 60vw;
    box-shadow: -1px 10px 20px -4px rgba(0, 0, 0, 0.48);
    border-radius: 15px;
    margin-top: 5vw;
}

.card-visualizar .card-header-servico {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 25px;
    align-items: flex-end;
}

.card-visualizar .card-header-servico .action-buttons-header-servico{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-visualizar .card-header-servico button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--verde);
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    padding: 5px 10px;
    cursor: pointer;
}

.card-visualizar .card-main-servico {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 25px;
}

.card-main-servico .descricao {
width: 30vw;
}

.card-main-servico .descricao h3 {
    font-size: 18px;
    text-align: justify;
}

.card-main-servico .perfil-avaliacao{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-main-servico .avaliacao-icon-nome {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-main-servico .avaliacao-icon-nome .nome-avaliacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card-main-servico .avaliacao-icon-nome .nome-avaliacao .avaliacao {
    display: flex;
    gap: 3px;
    align-items: center;

}

.avaliacao-icon-nome img {
    width: 80px;
    height: 80px;
    margin-right: 8px;
}

.images-servico {
    display: flex;
    width: 30vw;
    gap: 10px;
    overflow-x: auto;
}

.images-servico .imagem-servico{
    width: 10vw;
    height: 10vw;
}

.card-main-servico .distancia{
    display: flex;
    align-items: center;
    justify-content: center;
}