.service-container {
    width: 80%;
    margin: 20px auto;
    background-color: transparent;
    padding: 20px;
}

.service-header {
    position: relative; /* Adicione essa linha para usar posição absoluta para os ícones */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 35px;
}

.service-info {
    flex-grow: 1;
    margin-left: 20px;
}

.service-info h1 {
    margin: 0;
    font-size: 30px;
}

.service-info p {
    margin: 5px 0;
    color: #666;
    font-size: 18px;
}

.location-icon {
    display: inline-block;
    font-size: 25px;
    vertical-align: middle;
}

.actions-buttons-service{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.action-button-service {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--verde);
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    padding: 5px 10px;
    cursor: pointer;
}

.favorite-icon {
    cursor: pointer;
    right: 20px;
    top: 7px;
    position: absolute;
}

.favorite-icon .icone-favoritado {
    color: var(--verde);
    font-size: 30px;
}

.favorite-icon .icone-favoritar {
    color: #666;
    font-size: 30px;
}

.service-section {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    flex-grow: 1; 
}

.row-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.section-header h2 {
    margin: 0;
    font-size: 1.3em;
}

.section-content {
    padding: 10px 0;

    p {
        max-width: 30vw;
        word-wrap: break-word;
    }
}


.tags {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    background-color: #e0e7ff;
    color: #333;
    border-radius: 15px;
    padding: 5px 10px;
    margin: 5px;
}

.gallery-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 35vw;
    height: 16vw;
    overflow-y: auto;
}

.gallery-section .section-header{
    display: flex;
    gap: 3px;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    width: 35vw ;
  }
  
  .imagem-servico{
    width: 10vw;
 
    height: 10vw;
    border-radius: 4px;
    object-fit: cover;
  }
