@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

:root {
	--verde: #3cbc8c;
	--azul: #144474;
	--verde-claro: #E8FFF7;
}

.container-forms-password {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	flex-direction: column;
	position: relative;

	.form-container {
		padding: 1.5vw 2vw 0vw 2vw;
		display: flex;
		width: 24em;
		height: 21em;
		flex-direction: column;
		border-radius: 1.2vw;
		border: 1.5px solid black;
		gap: 0.5vw;
		-webkit-box-shadow: 0px 10px 27px -10px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px 10px 27px -10px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 10px 27px -10px rgba(0, 0, 0, 0.75);
		position: relative;
	}

	.erro {
		position: absolute;
		color:red;
		font-size: 12px; 
		margin-top: -1em;
		margin-left: 2px;
	}

	input {
		background-color: #eee;
		border: none;
		padding: 12px 0px 12px 0px;
		margin: 0.4em 0 1.5em 0;
		padding-inline-start: 12px;
		
	}
	h3 {
	margin-bottom: 0em;
	}

	form {
		display: flex;
		flex-direction: column;
	}

	.alignToBack {
		display: flex;
		gap: 1vw;
		align-self: end;
	}
	.cancelar {
		border-radius: 6px;
		background-color: rgb(167, 166, 166);
		color: #FFFFFF;
		font-size: 12px;
		font-weight: bold;
		padding: 10px 22px;
		letter-spacing: 1px;
		text-transform: uppercase;
		transition: transform 80ms ease-in;
		cursor: pointer;
	}
	.avancar {
		border-radius: 6px;
		border: none;
		background-color: var(--verde);
		color: #FFFFFF;
		font-size: 12px;
		font-weight: bold;
		padding: 10px 22px;
		letter-spacing: 1px;
		text-transform: uppercase;
		transition: transform 80ms ease-in;
		cursor: pointer;
	}

}