@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Mono:wght@600&display=swap');

:root {
    --verde: #3cbc8c;
    --azul: #144474;
    --verde-claro: #E8FFF7;
}

.conteudo-historico {
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin-top: 15vh;
}



.header-historico {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-historico h2 {
    font-size: 24px;
    color: #333;
}

.input-procurar {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-procurar input {
    border: none;
    outline: none;
    padding: 8px;
    font-size: 16px;
}

.input-procurar i {
    font-size: 20px;
    color: #333;
    margin-left: 10px;
}

.lista-historico {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hist-cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ddd;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    color: #333;
}

.card-historico {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.coluna {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.info-prof {
    display: flex;
    flex-direction: column;
}

.desc-tipo-servico {
    font-weight: bold;
}

.desc-nome-prof {
    font-style: italic;
}

.categoria {
    background-color: #eee;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}
